.main-container {
  overflow-x: hidden;
  & > :nth-child(2) {
    margin-top: 60px;
    @media screen and (max-width: 880px) {
      margin-top: 90px;
    }
  }
}

.partners-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  place-items: center;
  gap: 1ch;
  img {
    max-width: 100px;
    max-width: 100px;
    object-fit: contain;
    height: auto;
  }
}
