<div id="image" class="banner" style="background-image: linear-gradient(rgba(0,53,135,0.4),rgba(0,53,135,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1617361921/DISCOSPORT/banner3_hor_ejkvrd.jpg);">
          <div class="container p-3">
            <div class="container">
              <div class="col-6">
              <h2 class="text-white">Welcome to our <span class="text-danger">Sign Up</span> form </h2>

              </div>
              <div class="col-6">
                <h4 class="text-white">The Free Membership of DISCOSPORT is <span class="text-danger">strictly reserved</span> to qualificated TV and/or Sport Business Participants <span class="text-danger">ONLY</span>.</h4>

              </div>
              <hr>
            <div class="d-flex align-items-end flex-column" style="height: 200px;">
              <div class="mt-auto ">
                <h6 class="text-danger text-right "> <span class="text-white">DISCOSPORT</span> IS THE NEW FAST-GROWING MARKETPLACE OF SUBSAHARAN AFRICA</h6>
                <h6 class="text-white text-right"> LIVE FROM LOS ANGELES & KIGALI </h6>
                <p  class="text-right ">  25 OCT. - 19 NOV. 2021  <span class="text-danger font-weight-bold"> ON INVITATION ONLY </span></p>

              </div>

            </div>
                <!-- <a class="btn btn-lg btn-outline-danger" href="mailto:joa.azria@gmail.com?subject=Hello">ANY QUESTION, PLEASE CONTACT US</a> -->

            </div>
          </div>
    </div>
