.profile-card {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $light-gray;
  border-radius: 4px;
  color: $text-2;
  overflow: hidden;
  @media screen and (max-width: 420px) {
    width: 100%;
  }
  &__avatar {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__info {
    display: grid;
    gap: 1.2ch;

    width: 100%;
    padding: 1ch;
    margin: 0;
    &-item {
      display: grid;
      gap: 0.5ch;
      font-size: 1.2rem;
      &:nth-child(1) {
        font-size: 2rem;
        font-weight: bold;
      }
      small { color: $gray; }
    }
    &-link {
      @extend .profile-card__btn;
      @extend .profile-card__btn--chatroom;
    }
  }
  &__btn {
    display: block;
    min-width: 120px;
    padding: 0.6rem 1rem;

    border: 1px solid $gray;
    border-radius: 2px;
    color: $gray;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none !important;
    transition:
      color 0.3s ease-in,
      background 0.3s ease-in;
    &--chatroom {
      color: $text-1;
      background-color: $green;
      border-color: transparent;
      &:hover {
        color: $text-1;
        background-color: mix($green, black, 90%);
      }
    }
    &--linkedin {
      color: $text-2;
      border-color: $main-bg;
      &:hover {
        color: $text-1;
        background-color: $main-bg;
        border-color: transparent;
      }
    }
    &--edit {
      color: $text-1;
      background-color: $red;
      border-color: transparent;
      &:hover {
        color: $text-1;
        background-color: mix($red, black, 90%);
      }
    }
  }
}
