

      <div class="row">

      <div class="col-md-5 d-flex flex-column justify-content-around">
        <div class="card-program d-flex flex-row justify-content-between mt-2">
           <img src="https://res.cloudinary.com/numama/image/upload/v1617118315/DISCOSPORT/icon_people_discop_hjcv0s.png" />
          <div class="card-program-infos">
            <h2 class="text-uppercase"><span class="text-danger">1.2 BILLION PEOPLE </span></h2>
            <h6 class="card-text mt-0"> THE AFRICAN POPULATION IS PREDICTED TO DOUBLE BY 2050.</h6>
      </div>
        </div>

      <div class="card-program d-flex flex-row justify-content-between my-2">
        <div class="card-program-infos">
            <h2 class="text-uppercase"> <span class="text-danger">49 COUNTRIES </span> </h2>
            <h6 class="text-uppercase">4 MAIN LANGUAGES SPOKEN</h6>
            <p class="card-text mt-0">ENGLISH, FRENCH, PORTUGUES, SWAHILI.</p>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->  </div>
          <img src="https://res.cloudinary.com/numama/image/upload/v1617119283/DISCOSPORT/icon_gd_subafrica_mfistb.png" />
      </div>

        <div class="card-program d-flex flex-row justify-content-between my-2">
             <img src="https://res.cloudinary.com/numama/image/upload/v1617118315/DISCOSPORT/icon_dollar_discop_wvbk8s.png" />
              <div class="card-program-infos">
                <h2 class="text-uppercase"><span class="text-danger">+ US$400 MILLION</span></h2>
                <h6 class="card-text">SUB- AFRICAN SPORTS TV FTA ANNUAL PROGRAMMING BUDGET</h6>
              </div>
        </div>

        <div class="card-program d-flex flex-row justify-content-between my-2">
          <div class="card-program-infos">
              <h2 class="text-uppercase"> <span class="text-danger">+ 120 MAJOR FTA</span> </h2>
              <p class="card-text mt-0">PUBLIC AND PRIVATE BROADCASTERS</p>
              <h6 class="text-uppercase mt-0"> <span class="text-danger">+ 100 MILLION TELEVISION HOUSEHOLDS </span></h6>
          </div>
          <img src="https://res.cloudinary.com/numama/image/upload/v1617118315/DISCOSPORT/icon_tv_discop_ocj0kn.png" />
      </div>

        <div class="card-program d-flex flex-row justify-content-between my-2">
             <img src="https://res.cloudinary.com/numama/image/upload/v1617118315/DISCOSPORT/icon_paytv_discop_co%CC%81pia_b4ggkx.png" />
              <div class="card-program-infos">
                <h2 class="text-uppercase"><span class="text-danger">5 MAJOR PAY-TV</span></h2>
                <h6 class="card-text text-uppercase">DSTV, CANAL PLUS, STARSAT, STARTIMES, GOSAT</h6>
              </div>
        </div>

        <div class="card-program d-flex flex-row justify-content-between my-2">
              <div class="card-program-infos">
                <h2 class="text-uppercase"><span class="text-danger">7 MAJOR STREAMING PLATFORMS</span></h2>
<!--                 <p class="card-text mt-0 text-uppercase">SHOWMAX, NETFLIX, IROKO TV, GOOGLE PLAY MOVIES, STARNEWS, AMAZON PRIME, HULU</p>
 -->              <h6 class="text-uppercase">+ 20 PREMIUM CABLE CHANNELS</h6>
              </div>
             <img src="https://res.cloudinary.com/numama/image/upload/v1617118315/DISCOSPORT/icon_paytv_discop_co%CC%81pia_b4ggkx.png" />
        </div>

        <div class="card-program d-flex flex-row justify-content-between my-2">
             <img src="https://res.cloudinary.com/numama/image/upload/v1617118315/DISCOSPORT/icon_mobile_discop_w4rgzo.png" />
              <div class="card-program-infos">
                <h2 class="text-uppercase"><span class="text-danger">+ 475 MILLION</span> mobile subscribers</h2>
                <h6 class="text-uppercase mt-0">7 MAJOR MOBILE OPERATORS</h6>
              </div>
        </div>

      </div>
      <div class="col-md-7 mt-5">
        <img class="img-fluid"
             alt="Responsive image"
             src="https://res.cloudinary.com/numama/image/upload/v1617097204/DISCOSPORT/mapa_africa_yvraf1.png" />
      </div>
    </div>
