<div class="d-flex justify-content-around flex-wrap">
  <a href="https://www.dropbox.com/s/ahy31iutjloiwue/DISCOP_FLOOR_PLAN.pdf?dl=0">
    <div class="card-doc"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_foot_p5cpfx.png')">
    PRESENTATION
    </div>

  <a href="https://www.dropbox.com/s/7oqxmtbamozmxo6/DISCOSPORT-EXHIB.pdf?dl=0">
    <div class="card-doc" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
       url('https://res.cloudinary.com/numama/image/upload/v1616858709/DISCOSPORT/square_runner_discop_bjwmg6.png')">
      EXHIBIT
    </div>
  </a>

  <a href="https://www.dropbox.com/s/ea26icom1wruc67/DISCOSPORT-ADDONS.pdf?dl=0">
    <div class="card-doc" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
       url('https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_basket_yf0h9k.png')">
      ADDONS
    </div>
  </a>

  <a href="https://www.dropbox.com/s/ahy31iutjloiwue/DISCOP_FLOOR_PLAN.pdf?dl=0">
    <div class="card-doc" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
       url('https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_boxing1_lwsyrs.png')">
       FLOOR PLAN
    </div>
  </a>


</div>

