 <div id="image" class="banner" style="background-image: url(https://res.cloudinary.com/numama/image/upload/v1616778400/DISCOSPORT/BANNER_DISCOSPORT_wbyk1v.png);">
          <div class="container p-3">
            <div class="container">
              <h2 class="text-white text-uppercase">The New Frontiers of Sports Television Business</h2>
              <h4 class="text-danger">THE FAST-GROWING MARKETPLACE OF SUBSAHARAN AFRICA</h4>
              <h5 class="text-white"> LIVE FROM LOS ANGELES & KIGALI </h5>

              <% if user_signed_in? %>
                        <% if current_user.status == 'approved' %>
                            <p  class="text-right ">  25 OCT. - 19 NOV. 2021  <span class="text-success font-weight-bold"> YOU ARE INVITED</span></p>
                            <% else %>
                            <p  class="text-right ">  25 OCT. - 19 NOV. 2021  <span class="text-danger font-weight-bold"> YOUR PROFILE WILL BE SOON APPROVED</span></p>
                            <% end %>

                    <a class="btn btn-lg btn-outline-success" href="mailto:contact@discosport.tv?subject=Hello">CONTACT US</a>
                      <% else %>
                        <p  class="">  25 OCT. - 19 NOV. 2021  <span class="text-danger font-weight-bold"> ON INVITATION ONLY  </span></p>
                        <%= link_to "SIGN UP NOW", new_user_registration_path, class: " btn btn-lg btn-outline-danger" %>

              <% end %>

            </div>
          </div>
    </div>
