 <div id="image" class="banner" style="background-image: url(https://res.cloudinary.com/numama/image/upload/v1616778400/DISCOSPORT/BANNER_DISCOSPORT_wbyk1v.png);">
          <div class="container p-3">
            <div class="container">
              <h4 class="text-white">The New Frontiers of Sports Television Business</h4>
              <h6 class="text-danger">THE FAST-GROWING MARKETPLACE OF SUBSAHARAN AFRICA</h6>
              <h6 class="text-white"> LIVE FROM LOS ANGELES & KIGALI </h6>
                <p  class="">  25 OCT. - 19 NOV. 2021  <span class="text-danger font-weight-bold"> ON INVITATION ONLY </span></p>

                    <%= link_to "REGISTER NOW", new_user_registration_path, class: " btn btn-lg btn-outline-danger" %>

            </div>
          </div>
    </div>
