<div class="partners p-5">
  <div class="container">
  <div class="d-flex d-flex-inline">
      <div class="col-md-6">
        <h6 class="text-uppercase text-white">Institutional</h6>
        <a href="https://rdb.rw/">
          <img class="img-fluid" alt="Responsive image" width="30%"
           src="https://res.cloudinary.com/numama/image/upload/v1622595370/DISCOSPORT/apoiadores/RDB_WHITE_ojtpfd.png" />
        </a>
      </div>
      <div class="col-md-6 ">
        <h6 class="text-uppercase text-white">Partner</h6>
        <a href="https://aec.africa/">
          <img class="img-fluid" alt="Responsive image" width="30%"
          src="https://res.cloudinary.com/numama/image/upload/v1622594641/DISCOSPORT/apoiadores/AEC_LOGOS-1_ixsywp.png" />
        </a>
      </div>
  </div>
  </div>

</div>
