<div class="dashboard__validation">
  <%# render "shared/search_bar" #%>
  <% if @users_pending.nil? %>
  <% else %>
    <details class="dashboard__details">
      <summary class="dashboard__summary" style="--color: #fd1015;">
        PENDING VALIDATION (<%= @users_pending.count %>)
        <hr class="separator" style="--width: 80%; --color: #ccc; margin: 0;" />
      </summary>
    <div class="dashboard__validation-container">
      <%= render 'shared/delegate_card_pending' %>
    </div>
    </details>
  <% end %>
  
  <details class="dashboard__details">
    <summary class="dashboard__summary">
      DELEGATE APPROVED (<%= @users_approved.count %>)
      <hr class="separator" style="--width: 80%; --color: #ccc; margin: 0;" />
    </summary>
    <div class="dashboard__validation-container">
      <%= render 'shared/delegate_card_approved' %>
    </div>
  </details>
</div>



