<div class="delegates-status">
  <h2 class="delegates-status__title">Approval Status</h2>
  <div
    class="separator"
    style="--color: #828282; --thickness: 1.5px; --width: 80px">
  </div>
  <ul class="delegates-status__container">
    <li class="delegates-status__status" style="--color: #003585">
      <h2 class="delegates-status__number"><%= @users_approved.count %></h2>
      <h2 class="delegates-status__description">Approved</h2>
    </li>
    <li class="delegates-status__status" style="--color: #fd1015">
      <h2 class="delegates-status__number"><%= @users_pending.count %></h2>
      <h2 class="delegates-status__description">Pending</h2>
    </li>
    <li class="delegates-status__status" style="--color: #1a1a1a">
      <h2 class="delegates-status__number"><%= @users_not_approved.count %></h2>
      <h2 class="delegates-status__description">Unapproved</h2>
    </li>
  </ul>
</div>
