
<div class="card" style="width: 18rem;">
  <img class="card-img-top"
    src="https://res.cloudinary.com/numama/image/upload/v1617118315/DISCOSPORT/icon_people_discop_hjcv0s.png"
    alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title font-weight-bold text-center"><%= @users_approved.count %> <span class="text-primary">| DELEGATES</span></h4>
    <div class="">
      <h5 class="font-weight-bold">  </h5>
      <h5 class="text-danger"> <span class="font-weight-bold"><%= @users_pending.count %></span>  | PENDING</h5>
      <h6><%= @users_not_approved.count %> | NOT APPROVED</h6>
    </div>

  </div>
</div>
