
<div class="d-flex justify-content-between text-uppercase">
<h6 class="text-primary text-center">HOST COUNTRY <span class="text-danger"> RWANDA</span>   </h6>
<div class="">
<h6 class="text-primary text-center">GUEST COUNTRY </h6>
<h6 class="text-danger text-center">Democratic Republic of Congo </h6>

</div>
<div class="">
<h6 class="text-primary text-center">VIP COUNTRY </h6>
<h6 class="text-danger text-center">United States of America </h6>

</div>
</div>
<hr class="mt-2">