  <hr>

<section class="countries">
    <div class="countries__container text-uppercase">
        <h6 class="text-primary text-center">HOST COUNTRY</h6>
        <h6 class="text-danger text-center">RWANDA </h6>
    </div>

    <div class="countries__container text-uppercase">
        <h6 class="text-primary text-center">GUEST COUNTRY </h6>
        <h6 class="text-danger text-center">United States of America  </h6>
    </div>
</section>
<hr>
