<!-- <div class="container">
  <div class="footer">
    <div class="footer-links text-muted" >

      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <div class="raw">
        <i class="far fa-copyright"></i> All Rights Reserved to Basic Lead 2021
        <p>Web/App proudly developed by JoA </p>
      </div>
    </div>
  </div>
</div>
 -->
 <div class="container footer">
  <div class="row bg-primary"></div>
   <div class="row bg-primary" style="height: 120px">
     <div class="col-3 d-flex flex-column text-center mt-3">
      <a href="#">
        <h4>
          <i class="fab fa-youtube text-muted"></i>
        </h4>
      </a>
      <a href="#">
        <h4>
          <i class="fab fa-twitter text-muted"></i>
        </a>
        </h4>
      <a href="#">
        <h4>
          <i class="fab fa-linkedin text-muted"></i>
        </a>
        </h4>
     </div>
   <div class="col-4 mt-3 d-flex flex-column">
    <a href="#" class="text-muted" >
        <h6>
          about us
        </h6></a>
    <a href="#" class="text-muted" >
        <h6>
          register
        </h6></a>
    <a href="#" class="text-muted" >
        <h6>
          contact us
        </h6></a>

   </div>
   <div class="col-5 mt-3 d-flex flex-column text-muted" style="height: 100%">

        <h6 class="align-self-end">  <i class="far fa-copyright"></i>All Rights Reserved to Basic Lead 2021</h6>
        <p class="fw-lighter align-self-end">Web/App proudly developed by JoA <a href="#" <i class="fab fa-github text-muted"></i></a></p>
   </div>
 </div>

 </div>
