<div class="row">
  <div class="col-md-6 mb-0">
    <img class="img-fluid" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1617048160/DISCOSPORT/runner_big_sokae0.png" />
  </div>
  <div class="col-md-6 mb-0">
<!--     <h4 class="mt-4 text-danger text-uppercase">
      By 2100, almost 50% of the world’s sports loving youth will come from Africa.
    </h4>
    <hr> -->
    <p class="mt-4 text-justify">
    Welcome to <span class="text-primary font-weight-bold">DISCOSPORT</span> , a Los Angeles-based marketing agency that helps entertainment, music, comedy and sports rightsholders anxious to expand their direct sales footprint in Africa containing the world’s fastest growing media and consumer marketplaces.
    </p>
    <hr>
    <p class="text-justify"> ● We help companies develop <span class="text-primary font-weight-bold">merchandising programs in Africa</span>.
    </p>
    <p class="text-justify"> ● We define market-entry strategies, decide which segments of the population to target and assist in the choice of items that trend among these demographics.</p>
   <p class="text-justify"> ● We source manufacturers in Africa and strategically determine how to get the products directly into the hands of targeted customers.</p>
   <p class="text-justify"> ● We create effective online exposure and deploy fan-engagement tactics aimed at English, French, Portuguese, Swahili, Arabic and Amharic-speaking audiences. We work directly with Africa’s top telecoms operators and global wholesale e-commerce platforms with end-to-end integrated supply chain services to fulfill orders across the continent and beyond. </p>
   <p class="text-justify"> ● We work directly with Africa’s top telecoms operators and global wholesale e-commerce platforms with end-to-end integrated supply chain services to fulfill orders across the continent and beyond.</p>

    <hr>



  </div>

</div>
  <div class="container">
<hr>
      <!--   <p class="text-justify"> <span class="font-weight-bold">To break the ice</span>, set the tone and boost engagement, a virtual event will be held from <span class="font-weight-bold"> Monday
21 to Friday 25 March 2021</span>, two months prior to the event, that will deliver marketplace
information, advance online visibility, and preliminary connections.</p> -->
<h5 class="text-justify mt-3 ">
        <span class="text-primary text-center text-uppercase font-weight-bold">
        You want to know more? Join us for <span class="text-danger">a two-day hybrid event in Kigali, Rwanda </span>  so that we can lead you through the marketing terrain of Africa.
        </span>
      </h5>
        <h5 class="text-justify mt-3 ">
        <span class="text-center text-uppercase font-weight-bold">
        For more info, send an email to <a href="mailto:contact@discosport.tv">contact@discosport.tv</a> and give us a call on + 1 (323) 594 8010  </span>
      </h5>
    <% if user_signed_in? %>

    <% else %>
      <div class="container">
     <!--    <a class="btn btn-danger btn-block btn-lg"
        href="https://discosport.tv/users/sign_up">
        <i class="fas fa-user-plus"></i> EARLY BIRD REGISTRATION  | SIGN UP NOW
      </a> -->
    <% end %>

<!--     <p class="text-justify">

Running parallel to the pre-organized meetings sessions, a hybrid program of conferences, case-studies, presentations and workshops will spotlight trends and issues critical to the development of sports business in Africa.
    </p> -->


   <!--  <div class="container d-flex justify-content-end">
        <a href="<#%= bootcamp_path %>" class="btn btn-primary text-uppercase btn-lg "> EARLY KICK OFF | PROGRAM </a>
    </div> -->

    <hr>



<!-- <p class="container text-justify">The event is scaled to welcome key
      executives representing sports federations, sports marketing agencies,
      broadcasters, premium cable channels, mobile networks, streaming platforms,
      pay-tv operators, content creators, sports arenas, advertising agencies,
      merchandisers and marketers. The 4-week program is open to
      <span class="text-danger font-weight-bold">qualified participants only</span>
      and is <span class="text-primary font-weight-bold">free of charge</span>.
    Companies in need of front-line exposure can book visibility packages offered
  at an additional cost.</p> -->
</div>

