<section class="row">
    <div class="col-md-6">
    <img class="img-fluid" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1617048160/DISCOSPORT/runner_big_sokae0.png" />

    </div>
    <div class="col-md-6">
      <h4 class="mt-4 text-danger">THE FAST-GROWING MARKETPLACE OF SUBSAHARAN AFRICAN SPORT TV MARKET</h4>
        <hr>
    <h5 class="mt-4">DISCOSPORT 100% Virtual will bring together key executives representing sports federations,
    platforms, content creators and advertisers active in Sub-Saharan Africa. The 4-week program
    will include the Bootcamp Week, a series of 20 live webcasts exploring new trends and technologies
    that are transforming the way sport television is consumed and monetized, and the Networking Weeks,
    three full weeks dedicated to virtual meetings between participants.
    </h5>
    <hr>
    <h5>The online event will take place from Monday 25 October to Friday 19 November.</h5>
    <hr>
    <h5>The event will serve as a lead-in to DISCOSPORT Africa, an in-person trade show to be first held in September 2022 in South Africa.</h5>
    </div>

  </section>
