<div class="row">
  <div class="col-md-6 mb-0">
    <img class="img-fluid" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1617048160/DISCOSPORT/runner_big_sokae0.png" />
  </div>
  <div class="col-md-6 mb-0">
    <h4 class="mt-4 text-danger text-uppercase">
      By 2100, almost 50% of the world’s sports loving youth will come from Africa.
    </h4>
    <hr>
    <p class="mt-4 text-justify">
      Now that sport is part of the development strategies of all African countries, welcome to
      <span class="text-primary font-weight-bold">DISCOSPORT</span>, a new B2B trade-show dedicated to sports entertainment, sports marketing and sports merchandising in Africa.
    </p>
    <hr>
    <p class="text-justify">The first edition will take place from
      <span class="text-primary font-weight-bold">Tuesday 24 to Thursday 26 May 2022</span>
      at the Kigali Convention Center in Rwanda. 100% bilingual (English/French), the 3-day event is scaled to
      <span class="text-primary font-weight-bold">welcome 100+ international exhibitors and 1,000+ walk-in delegates</span>  representing
      influential sectors driving sports business in Africa: <span class="text-danger"> sports federations,
      sporting clubs, content distribution and e-commerce platforms, host destinations
      for sporting events, sports agents, sports venues, event producers,
      consumer brands and advertising and media-buying agencies.</span>
    </p>
    <hr>
    <% if user_signed_in? %>

    <% else %>
      <div class="container">
        <a href="<%= new_user_registration_path %>"
          class="btn btn-danger text-uppercase btn-lg btn-block ">
        CLICK HERE TO REGISTER</a>
      </div>
      <hr>
    <% end %>

<!--     <p class="text-justify">The 4-week program will include a
    <span class="text-primary font-weight-bold">Virtual Opening Ceremony</span>
    bringing to light gender equality initiatives to grow female participation
    in sports journalism, the <span class="text-primary font-weight-bold">Bootcamp Week</span>
    featuring 20 live webcasts exploring ways to transform and monetize the sport
    television experience, the <span class="text-primary font-weight-bold">Networking Weeks</span>,
    three full weeks dedicated to pre-organized virtual meetings between participants,
    and a <span class="text-primary font-weight-bold">Pitching Competition</span>
    giving writers and producers the chance to video pitch projects reflecting
    the growing importance of Africa in sports-themed entertainment.</p> -->

  </div>
  <div class="container">
    <p class="text-justify">
      <span class="text-primary font-weight-bold">DISCOSPORT</span>,
      will deliver results in the form of high-level connections before
      and during the 3-day market.<span class="text-primary font-weight-bold"> To break the ice</span>, set the tone, and boost engagement
      between pre-registered delegates, we will hold periodical virtual sessions
      <span class="text-primary font-weight-bold">from Monday 25 October 2021</span>, until the opening of DISCOSPORT, seven months later.
    </p>
    <div class="container d-flex justify-content-end">
        <a href="<%= bootcamp_path %>" class="btn btn-primary text-uppercase btn-lg "> VIRTUAL | PROGRAM </a>
    </div>
    <hr>
    <p class=" text-justify mt-0">
      <span class="text-primary font-weight-bold">DISCOSPORT | News</span>, a weekly newsletter will help pre-registered delegates familiarize themselves with
      companies exhibiting at the event. Three months prior to DISCOSPORT,<span class="text-primary font-weight-bold"> on Monday 28 February</span>,
      the electronic version of the <span class="text-primary font-weight-bold"> DISCOSPORT | Almanac </span> will be mailed to all delegates while services,
      content, solutions, equipment offered at the market will be promoted through an online showroom.
      <span class="text-primary font-weight-bold">Personalized organization assistance</span> will also be provided from then on.
    </p>
  </div>

  <% if user_signed_in? %>

  <% else %>
    <hr>
    <div class="container d-flex flex-wrap" style="gap: 1ch;">
      <a class="btn btn-danger"
        href="https://discosport.tv/users/sign_up">
        <i class="fas fa-user-plus"></i> EARLY BIRD REGISTRATION  | SIGN UP NOW
      </a>
      <h5 class="text-justify mt-0 ml-5">
        <span class="text-primary text-uppercase font-weight-bold">
        Free 'Early Bird' registration is available to qualified executives until Friday 22 October.
        </span>
      </h5>
    </div>
  <% end %>
  <hr />
  <div class="container d-flex flex-wrap mt-4" style="gap: 1ch;">
    <h5 class=" text-justify mt-0 text-danger text-uppercase">
      Please send an email to <%= mail_to "sales@discosport.tv", 'sales@discosport.tv' %> to receive the current floorplan, our exhibit booking form and the sponsorships presentation kit.
    </h5>
    <a class="btn btn-danger text-uppercase text-white align-self-start py-2 px-3"
      href="mailto:contact@discosport.tv?subject=DiscoSport | Floor Plab">
      floor plan request SALES@DISCOSPORT.TV
    </a>
  </div>

<!-- <p class="container text-justify">The event is scaled to welcome key
      executives representing sports federations, sports marketing agencies,
      broadcasters, premium cable channels, mobile networks, streaming platforms,
      pay-tv operators, content creators, sports arenas, advertising agencies,
      merchandisers and marketers. The 4-week program is open to
      <span class="text-danger font-weight-bold">qualified participants only</span>
      and is <span class="text-primary font-weight-bold">free of charge</span>.
    Companies in need of front-line exposure can book visibility packages offered
  at an additional cost.</p> -->
</div>

