<div class="row">
    <div class="col-md-6 mb-0">
    <img class="img-fluid" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1617048160/DISCOSPORT/runner_big_sokae0.png" />

    </div>
    <div class="col-md-6 mb-0">
      <h4 class="mt-4 text-danger text-uppercase">By 2100, almost 50% of the world’s sports loving youth will come from Africa.
      </h4>
        <hr>
        <p class="mt-4 text-justify">
         Now that sport is part of the development strategies of all African countries, welcome to
          <span class="text-primary font-weight-bold">DISCOSPORT</span>
          , a new B2B trade-show dedicated to sports entertainment, sports marketing and sports merchandising in Africa.
<!--           <span class="text-primary font-weight-bold">Kigali, Rwanda </span> from 24 to 26 May 2022.
 -->
        </p>
<!--     <p class="mt-4 text-justify">
      <span class="text-primary font-weight-bold">DISCOSPORT 100% Virtual | Africa</span>
      is a longform, sales-driven, educational and networking program designed to help
      Sub-Saharan Africa's entry into the ever-expanding world of sports television business.
      The online event will take place from Monday 25 October to Friday 19 November,
      and deliver results in the form of high-level connections and prime information on current
      production, viewing and monetization trends.
    </p> -->
    <hr>
        <p class="text-justify">The first edition will take place from
      <span class="text-primary font-weight-bold">Tuesday 24 to Thursday 26 May 2022</span>
      at the Kigali Convention Center in Rwanda. 100% bilingual (English/French), the 3-day event is scaled to
      welcome 100+ international exhibitors and 1,000+ walk-in delegates representing influential sectors driving
      these developments in Africa: sports federations, sporting clubs, content distribution platforms, sports agents, sports venues and advertisers.
      </p>
    <hr>
        <p>
      <span class="text-primary font-weight-bold">DISCOSPORT</span>,
      will deliver results in the form of face-to-face meetings prepared by our matchmaking staff. Their organization
      will begin seven months prior to the event, giving our matchmaking staff seven months to help pre-registered delegates
      to become better acquainted with each other.

    </p>

<!--     <p class="text-justify">The 4-week program will include a
      <span class="text-primary font-weight-bold">Virtual Opening Ceremony</span>
      bringing to light gender equality initiatives to grow female participation
      in sports journalism, the <span class="text-primary font-weight-bold">Bootcamp Week</span>
      featuring 20 live webcasts exploring ways to transform and monetize the sport
      television experience, the <span class="text-primary font-weight-bold">Networking Weeks</span>,
      three full weeks dedicated to pre-organized virtual meetings between participants,
      and a <span class="text-primary font-weight-bold">Pitching Competition</span>
      giving writers and producers the chance to video pitch projects reflecting
      the growing importance of Africa in sports-themed entertainment.</p> -->

    </div>
    <div class="container">
      <hr>
               <p class=" text-justify mt-0">
    A series of conferences, workshops, and case-study presentations featuring high-level speakers to be unveiled on
    Monday 25 October will add value to the overall program.
    </p>
    </div>

        <hr>
      <div class="container">
              <p class="text-justify mt-0">
         <span class="text-primary font-weight-bold">
          A very special focus will be placed on esports.</span>
    </p>
    <hr>
</div>

        <p class="container text-justify mt-0">
          To break the ice, set the tone and boost engagement early on, we will hold a virtual forum between 25 and 29 October 2021 that addresses key opportunities and trends impacting the future of sports business in Africa.


        </p>
        <p class="container text-justify mt-0">
          Registration is free for qualified walk-in delegates until


          <span class="text-primary font-weight-bold">Friday 22 October</span>.
<!--           <span class="text-danger font-weight-bold">limited.</span>
 -->        </p>
        <div class="container d-flex justify-content-end">
                            <a href="<%= bootcamp_path %>" class="btn btn-primary text-uppercase btn-lg "> VIRTUAL FORUM | AGENDA </a>

        </div>



        <div class="container">
          <h5 class=" text-justify mt-0 text-danger">
            <hr>
          Please send an email to <%= mail_to "sales@discosport.tv", 'sales@discosport.tv' %> to receive the current floorplan, our exhibit booking form and the sponsorships presentation kit.
            <hr>

  <!--           <span class="text-danger font-weight-bold">limited.</span>
  -->        </h5>
        </div>
      <div class="container">
                <% if user_signed_in? %>

        <% else %>
          <a href="<%= new_user_registration_path %>" class="btn btn-danger text-uppercase btn-lg btn-block ">Click here to register</a>

        <% end %>

      </div>




<!--         <p class="container text-justify">The event is scaled to welcome key
          executives representing sports federations, sports marketing agencies,
          broadcasters, premium cable channels, mobile networks, streaming platforms,
          pay-tv operators, content creators, sports arenas, advertising agencies,
          merchandisers and marketers. The 4-week program is open to
          <span class="text-danger font-weight-bold">qualified participants only</span>
          and is <span class="text-primary font-weight-bold">free of charge</span>.
        Companies in need of front-line exposure can book visibility packages offered
      at an additional cost.</p> -->

  </div>
