
  <div class="row">

    <div class="col-md-5 d-flex flex-column ">
      <p class=" text-justify mt-5">
      We will plan in Kigali, Rwanda, after the summer, a 2-day VIP educational program that will lead entertainment, sports, comedy and music companies through the marketing terrain of sales-obsessed Africa.</p>
      <hr>
      <p class="text-justify">Through a series of fast-track case studies and company presentations, these companies will have access to prime information - and contacts - in ways to drive revenues through merchandising programs 100% 'Made in Africa'. The 2-day VIP event will be held at The Kigali Convention Centre (KCC). </p>
<hr>
      <!-- <p class="text-justify">Through a series of fast-track case-studies and pre-organized meetings these companies will have access to prime information in ways to drive revenues through merchandising programs 100% ‘Made in Africa’. -->
</p>
<hr>
<!--       <p class="text-justify">The 2-day event will be held at the The Kigali Convention Centre (KCC) located in Kigali’s business district and 5 kilometers from Kigali International Airport and City Center. Out of town participants will be staying at the Radisson Blu Hotel which is adjacent to the convention center and in the same compound.
</p> -->

   <!--    <p class="text-justify"> <span class="text-primary font-weight-bold">DISCOSPORT</span>  will be held at the <a href="https://www.kcc.rw/" target="_blank">The Kigali Convention Centre (KCC)</a> located in Kigali’s
      business district and 5 kilometers from Kigali International Airport and City Center. Out of town
      participants will be staying at the Radisson Blu Hotel which is adjacent to the convention
      center and in the same compound.</p>
      <p class=" text-justify mt-0">
      <hr> -->
      <!-- <p class="text-justify"> -->
<!--       Brand activation will start in three weeks from now, at <span class="font-weight-bold">SPORTEL</span> , a leading sports industry
      event, to take place in Monaco, from 5 to 7 October. From then on, DISCOSPORT’s Kigalibased
      research will focus its efforts on creating ‘personalized connections’ with the 300+
      international executives targeted for the gathering.</p>
      <hr> -->
<!--       <p class="text-justify"> <span class="font-weight-bold">Meetings will be prepared two months ahead of the event</span> . At that time, the DISCOSPORT
      ALMANAC will be electronic mailed listing attendees’ details and their company profiles. And
      to make sure that face-to-face engagement during the event is as productive as possible,
      delegates will also have access to human curated and personalized assistance to get matched
      with the right people.
      </p> -->
       <h5 class="text-justify mt-3 ">
        <span class="text-center text-uppercase font-weight-bold">
        For more info, send an email to <a href="mailto:contact@discosport.tv">contact@discosport.tv</a> and give us a call on + 1 (323) 594 8010  </span>
      </h5>
    </div>
      <div class="col-md-7 mt-5">
        <img class="img-fluid"
             alt="Responsive image"
             src="https://res.cloudinary.com/numama/image/upload/v1644257923/DISCOSPORT/kigali_v3v6ri_fjtwt3.png" />
      <br>
<!--           <a class="btn btn-danger text-uppercase text-white btn-lg btn-block align-self-start py-2 px-3"
      href="mailto:contact@discosport.tv?subject=DiscoSport | Floor Plab">
      floor plan request SALES@DISCOSPORT.TV
    </a> -->
      </div>
  </div>
