
  <div class="row">

    <div class="col-md-5 d-flex flex-column ">
      <p class=" text-justify mt-5">
      <span class="font-weight-bold">By 2100, almost 50% of the world’s sports loving youth will come from Africa</span> .They will spend a sizeable portion of their disposable income on video games, sports-related entertainment (preferably homegrown), sports collectibles and sports betting. Advances in technology will reshape when, where, and how they will engage with live competitions and sports television and respond to brands through clicks, calls or online purchases: leading sporting goods companies are now charging forward as the number of online shoppers is growing exponentially!
      </p>
      <hr>
      <p class="text-justify"> <span class="text-primary font-weight-bold">DISCOSPORT</span>  will be held at the <a href="https://www.kcc.rw/" target="_blank">The Kigali Convention Centre (KCC)</a> located in Kigali’s
      business district and 5 kilometers from Kigali International Airport and City Center. Out of town
      participants will be staying at the Radisson Blu Hotel which is adjacent to the convention
      center and in the same compound.</p>
      <p class=" text-justify mt-0">
      <hr>
      <!-- <p class="text-justify"> -->
<!--       Brand activation will start in three weeks from now, at <span class="font-weight-bold">SPORTEL</span> , a leading sports industry
      event, to take place in Monaco, from 5 to 7 October. From then on, DISCOSPORT’s Kigalibased
      research will focus its efforts on creating ‘personalized connections’ with the 300+
      international executives targeted for the gathering.</p>
      <hr> -->
<!--       <p class="text-justify"> <span class="font-weight-bold">Meetings will be prepared two months ahead of the event</span> . At that time, the DISCOSPORT
      ALMANAC will be electronic mailed listing attendees’ details and their company profiles. And
      to make sure that face-to-face engagement during the event is as productive as possible,
      delegates will also have access to human curated and personalized assistance to get matched
      with the right people.
      </p> -->

    </div>
      <div class="col-md-7 mt-5">
        <img class="img-fluid"
             alt="Responsive image"
             src="https://res.cloudinary.com/numama/image/upload/v1625437138/DISCOP/kigali_v3v6ri.png" />
      <br>
<!--           <a class="btn btn-danger text-uppercase text-white btn-lg btn-block align-self-start py-2 px-3"
      href="mailto:contact@discosport.tv?subject=DiscoSport | Floor Plab">
      floor plan request SALES@DISCOSPORT.TV
    </a> -->
      </div>
  </div>
