
  <div class="row">

    <div class="col-md-5 d-flex flex-column ">
        <p class=" text-justify mt-5">
        If global expansion is on your mind, here is an opportunity to navigate for two days the future of sports
        merchandising and fan monetization in Africa – and establish vital connections.</p>
        <hr>
        <p class="text-justify">On <span class="text-danger font-weight-bold">20 and 21 September in Kigali,
        Rwanda</span>,
        we will organize a high-level event that will encourage collaboration between
        key players driving sports
        business across Africa and international companies with an eye on the world’s
        fastest growing consumer
        marketplace.</p>
       <hr>
        <p class="text-justify"> <span class="text-danger font-weight-bold">Why Rwanda? </span>
          The country is positioned to become a strategic manufacturing and e-commerce hub and help
          right-holders and marketers expand their footprint across Africa and beyond. Furthermore,
          and after recently staging world-class competitions and tournaments, Rwanda has become a role-model
          for other African countries ready to host international tournaments.</p>

        <hr>
            <p class="text-justify"> <span class="text-danger font-weight-bold">100+ business development executives </span>
        representing African sports federations, sports clubs, sports arenas,
      sports broadcasters and sports content distribution platforms will be invited, hotel-expenses paid, for a
      two-day educational and networking program.</p>
    </div>

    <div class="col-md-7 mt-5">
        <img class="img-fluid"
             alt="Responsive image"
             src="https://res.cloudinary.com/numama/image/upload/v1644257923/DISCOSPORT/kigali_v3v6ri_fjtwt3.png" />
    <br>
<!--           <a class="btn btn-danger text-uppercase text-white btn-lg btn-block align-self-start py-2 px-3"
      href="mailto:contact@discosport.tv?subject=DiscoSport | Floor Plab">
      floor plan request SALES@DISCOSPORT.TV
    </a> -->
    </div>
</div>

<hr>
<p class="text-justify">The event will take place inside the <a href="https://www.kcc.rw/">KigaliConvention Center</a> , a world-class venue
  sitting next to the Radisson BluHotel where all participants are expected
to stay. The event will be staged in a compact exhibiting hall furbished with two conference areas and
  individual meeting pods allocated to each of the companies these executives represent.</p>
<hr>
<p class="text-justify">The educational component will comprise fast-track
  case-studies on <span class="text-danger font-weight-bold">four industry trends</span> that will drive
  revenues and engagement amongst sports fans in Africa:</p>
<h6 class="text-primary font-weight-bold"> 1. Electronic sports </h6>
 <h6 class="text-primary font-weight-bold"> 2. 100% ‘Made in Africa’ merchandising programs</h6>
 <h6 class="text-primary font-weight-bold"> 3. Homegrown sports data </h6>
 <h6 class="text-primary font-weight-bold"> 4. Next-generation brand partnerships</h6>

 <p class="text-justify">The networking component will include pre-organized meeting sessions running parallel to the case-study presentations.
 To facilitate the organization of these sessions, participants are required to sign-up early, before 20 June.
  From then on, during the three months leading up to the event, a dedicated in-house matchmaking team with
  a clear view on market dynamics will help participants set-up well-researched meetings.</p>
<hr>
<p class="text-justify">To boost engagement, social events will also take place each day.</p>
<hr>
<h5 class="text-justify mt-3 ">
        <span class="text-center text-uppercase font-weight-bold">
        For more info, send an email to <a href="mailto:contact@discosport.tv">contact@discosport.tv</a> and give us a call on + 1 (323) 594 8010  </span>
      </h5>

