<div class="delegates-status">
  <h2 class="delegates-status__title">DiscoSport <span class="text-danger">| NEWS</span></h2>
   <div
    class="separator"
    style="--color: #828282; --thickness: 1.5px; --width: 80px">
  </div>
  <div class="delegates-status__container">
    <%= link_to "ADD AN ARTICLE", new_newsletter_path, class: "btn btn-success p-2 " %>
    <%= link_to "READ ALL ARTICLES", newsletters_path, class: "btn btn-primary p-2" %>
  </div>
</div>
