<div class="bg-white m-5">
  <h5 class="text-uppercase text-primary">Newsletters </h5>
    <%= link_to "ADD AN ARTICLE", new_newsletter_path, class: " btn btn-lg btn-success" %>
    <%= link_to "READ ALL ARTICLES", newsletters_path, class: " btn btn-lg btn-outline-primary" %>
</div>
