<div class="row">
  <div class="col-md-4">
    <img class="img-fluid" alt="Responsive image"
      src="https://res.cloudinary.com/numama/image/upload/v1617142781/DISCOSPORT/pitching_disco_ytpivr.png" />
  </div>
  <div class="col-md-8 align-self-end ">
    <h5 class="text-primary font-weight-bold">The weekly DISCOSPORT | NEWS</h5>
    <p class="text-justify" >  A simple purpose: <span class="text-primary">relevant high quality information to decision makers [C+ level].</span> Our network of local reporters will let you stay on top of sports television and marketing business across Africa. Our team is working hard to dig up exclusive impacting stories about this super-fast-developing industry. Insightful interviews will also be provided through podcast of key executives driving Africa’s sports ecosystem.
    </p>

    <% if user_signed_in? == 'approved' %>
      <p class="text-right" >
        <span class="text-primary">To be launched on </span>
        <span class="text-danger">Tuesday 18 May</span>
      </p>
      <p class="mt-3 text-uppercase font-weight-bold">
        For any editorial suggestion contact our journalist team  :  <a class="text-uppercase" href="mailto:sales@discosport.tv?subject=DISCOSPORT|NEWS">news@discosport.tv</a>
      </p>
      <%= link_to "Sign up for further information", new_pitching_path, class: "mt-2 btn btn-lg btn-outline-primary text-uppercase btn-block" %>

    <% else %>
      <p class="text-right" >
        <span class="text-primary">Coming </span>
        <span class="text-danger">Soon</span>
      </p>
      <p class="mt-3 text-uppercase font-weight-bold">
        For any editorial suggestion contact our journalist team  :  <a class="text-uppercase" href="mailto:sales@discosport.tv?subject=DISCOSPORT|NEWS">news@discosport.tv</a>
      </p>
    <% end %>
  </div>
</div>

