<div class="container">
  <div class="section m-5">

    <div class="card-deck">
<!--       <div class="row justify-content-around">
 -->

      <!-- </div> -->
        <div class="card mb-3">
          <img class="card-img-top" src="https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_basket_yf0h9k.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">FRONTLINE VISIBILITY</h5>
                <p class="card-text">A true incubador Program to assist your project to growths</p>
                <p class="card-text text-right"><small class="text-muted">U$D1,000</small></p>
                 <a href="#" class="btn btn-outline-primary btn-lg btn-block">Up Grade Your MemberShip</a>
            </div>
        </div>
        <div class="card mb-3">
          <img class="card-img-top" src="https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_boxing1_lwsyrs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PARTNER VISIBILITY</h5>
                <p class="card-text">Selling Incubodor. We make your projecgts growths together. to offer the best opportunities to your brand & projects.</p>
                <p class="card-text text-right"><small class="text-muted">U$D3,500</small></p>
                  <a href="#" class="btn btn-outline-primary btn-lg btn-block">Be a Partner</a>
            </div>
        </div>

        <div class="card mb-3">
          <img class="card-img-top" src="https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_foot_p5cpfx.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">SPONSORING VISIBILITY</h5>
              <p class="card-text">Full packages visibility to offer the best opportunities to your brand & projects.</p>
              <p class="card-text text-right"><small class="text-muted">U$D5,000</small></p>
              <a href="#" class="btn btn-outline-primary btn-lg btn-block">Be a Sponsor</a>
            </div>
        </div>
    </div>
</div>
</div>

