<div class="card mb-3" >
  <div class="row">
      <div class="col-sm-2">

        <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1617993489/DISCOSPORT/pitching_sqaure_tgr8ij.png",
        :style => "height: 100%; width: 250px;" %>
      </div>

      <div class="col-sm-10">

        <div class="card-body pl-5">
          <h5 class="card-title text-uppercase">Participate in our Pitching competition</h5>
          <h6 class="card-text d-flex"> All signs point to broadcasters, mobile operators,
            streaming platforms and advertisers seeking
            more ambitious, more local sports-themed
            projects. As a result, a competition intertwined
            in the overall program will give writers and
            producers the chance to pitch to influencers in
            the sports television industry and bring to their
            attention projects reflecting the growing importance
            of Africa in sports entertainment.</h6>
          <div class="d-flex">
            <%= link_to "UpLoad Your Pitch", new_pitching_path, :class => "btn btn-sm btn-primary text-uppercase m-2" %>
          </div>
        </div>
      </div>

  </div>
</div>


