<div class="row">
  <div class="col-4">
      <img class="img-fluid" alt="Responsive image"
      src="https://res.cloudinary.com/numama/image/upload/v1617142781/DISCOSPORT/pitching_disco_ytpivr.png" />
  </div>
  <div class="col-8 align-self-end">
    <h3>Ten projects will be selected, and video pitched to a live audience of A-list production, commissioning and marketing executives seeking fresh ideas.</h3>
    <p class="mt-3">All signs point to broadcasters, mobile operators, streaming platforms and advertisers seeking more ambitious, more local sports-themed projects. As a result, a competition intertwined in the overall program will give writers and producers the chance to pitch to influencers in the sports television industry and bring to their attention projects reflecting the growing importance of Africa in sports entertainment.</p>
        <%= link_to "Apply Now !", new_user_registration_path, class: " btn btn-lg btn-outline-danger btn-block" %>

  </div>

</div>
