
    <div class="row">
      <div class="col-md-6 ">
      <img class="img-fluid" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1621017971/DISCOSPORT/7reasonstosignup_pe0xs7.png" />

      </div>
      <div class="col-md-6 d-flex flex-column justify-content-around">
        <div class="card-product mt-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861878/DISCOSPORT/1_tvqkzr.png" />
          <div class="card-product-infos">
            <h2>PANORAMA 360° ON AFRICA SUBSAARIANA’S SPORTS TELEVISION</h2>
<!--             <p>Product description with <strong>relevant info</strong> only.</p>
 -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/2_mfwzwq.png" />
            <div class="card-product-infos">
              <h2>EXTENDED ENGAGEMENT BETWEEN DELEGATES</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/3_mzztnv.png" />
            <div class="card-product-infos">
              <h2>ACCESS INDUSTRY KEY PLAYERS WITH DECISION-MAKING</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/4_zxcr8o.png" />
            <div class="card-product-infos">
              <h2>ACCELERATE GROWTH THROUGH STRATEGIC PARTNERSHIPS</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/5_fmhbu0.png" />
            <div class="card-product-infos">
              <h2>SEEK OUT ONE-TO-ONE ADVICE FROM EXPERTS AND DISCUSS BEST OPTIONS</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/6_zlopxn.png" />
            <div class="card-product-infos">
              <h2>LEVERAGE PERSONALIZED MATCHMAKING AND RESEARCH ASSISTANCE</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/7_gs67bq.png" />
            <div class="card-product-infos">
              <h2>DEVELOP / MARKET / ACQUIRE TELEVISION AND MERCHANDISING</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>

      </div>
    </div>

