          <p class=" text-justify mt-0">
    By 2100, almost 50% of the world’s sports loving youth will come from Africa.They will spend a sizeable portion of their disposable income on video games, sports-related entertainment (preferably homegrown), sports collectibles and sports betting. Advances in technology will reshape when, where, and how they will engage with live competitions and sports television and respond to brands through clicks, calls or online purchases: leading sporting goods companies are now charging forward as the number of online shoppers is growing exponentially!
    </p>
    <div class="row">
      <div class="col-md-6 ">
      <img class="img-fluid" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1621017971/DISCOSPORT/7reasonstosignup_pe0xs7.png" />

      </div>
      <div class="col-md-6 d-flex flex-column justify-content-around">
        <div class="card-product mt-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861878/DISCOSPORT/1_tvqkzr.png" />
          <div class="card-product-infos">
            <h2>360° PANORAMA ON AFRICA'S SPORTS INDUSTRY</h2>
<!--             <p>Product description with <strong>relevant info</strong> only.</p>
 -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/2_mfwzwq.png" />
            <div class="card-product-infos">
              <h2>ACCESS TO ACTIONABLE DATA AND INFORMATION</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/3_mzztnv.png" />
            <div class="card-product-infos">
              <h2>LIVE ASSISTANCE TO PREPARE WELL RESEARCHED MEETINGS</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/4_zxcr8o.png" />
            <div class="card-product-infos">
              <h2>ACCELERATE GROWTH THROUGH STRATEGIC PARTNERSHIPS</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/5_fmhbu0.png" />
            <div class="card-product-infos">
              <h2>SIDEBAR EVENTS TO KEEP DELEGATES ENGAGED FOR 7 MONTHS</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/6_zlopxn.png" />
            <div class="card-product-infos">
              <h2>DISCOUNTED TRAVEL OFFERS</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>
        <div class="card-product my-1">
          <img src="https://res.cloudinary.com/numama/image/upload/v1616861877/DISCOSPORT/7_gs67bq.png" />
            <div class="card-product-infos">
              <h2>ALL-IN EXHIBITING PACKAGES</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
        </div>

      </div>
    </div>

