
<a href="<%= new_user_registration_path %>" class=" text-decoration-none">
<div class="row row-cols-1 row-cols-md-4 g-4">

  <div class="col">
    <div class="card">
          <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617632606/DISCOSPORT/squareboxeuse_srjrmn.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">VENDOR</h5>
        <p class="card-text">Companies offering primarily media and merchandising rights; fan engagement, creative, research and marketing expertise; content production and post-production equipment; athletes representation services; sports venues management systems; outsource manufacturing and package solutions; e-commerce and remote payment support.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
          <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_woman_discop_over_n5kiah.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CONTENT CREATOR</h5>
        <p class="card-text">Story tellers, writers, film,tv, digital and commercial content producers, animators, video game developers, talent agencies, book publishers, stand-up comedians, etc.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
          <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_networking_over_discop_kch3my.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">PLATFORM</h5>
        <p class="card-text">Public and commercial broadcasters, premium channels, pay-tv networks, mobile operators, streamers and in-flight and closed-circuit entertainment providers.</p>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card mt-2">
      <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1621329292/DISCOSPORT/square_stade_discop_i4uef9.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SPORTS VENUE</h5>
        <p class="card-text">Stadium, indoors sports arenas, concert halls, schools, cities and other public administrations in charge of recreational developments.</p>
      </div>
    </div>
  </div>
     <div class="col">
    <div class="card mt-2">
      <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_jump_discop_lzfgvv.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ADVERTISER</h5>
        <p class="card-text">Brands, digital-first companies and marketers, and creative, media buying, product placement, cross-marketing and research services.</p>
      </div>
    </div>
  </div>
       <div class="col">
    <div class="card mt-2">
      <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_running_discop_omsquf.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SPORTING CLUB</h5>
        <p class="card-text">Small organizations whose members play together occasionally to large commercial organisations with teams of professional players regularly competing against other clubs.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mt-2">
      <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_running_discop_omsquf.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SPORT FEDERATION</h5>
        <p class="card-text">Non-governmental organizations administrating one or more sports disciplines at national level and supervising the development of athletes practising these sports at every level.</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card mt-2">
      <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1621329291/DISCOSPORT/square_expert_discop_mg8bs2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">EXPERT</h5>
        <p class="card-text">Key sports industry executives and strategists invited to share their vision and recommendations in the context of conferences, workshops, screenings, case-study presentations, and project pitching sessions.</p>
      </div>
    </div>
  </div>
</div>
  </a>

