
    <div class="card-deck">
<!--       <div class="row justify-content-around">
 -->

      <!-- </div> -->
        <div class="card mb-3">
          <img class="card-img-top rounded-circle p-3" src="https://res.cloudinary.com/numama/image/upload/v1617038321/DISCOSPORT/avatar_mushiki_discop_qiuv2c.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-primary">Mrs. Louise <span class="text-uppercase">MUSHIKIWABO</span></h5>
                <h6 class="card-text">Secretary General of Organisation Internationale de la Francophonie</h6>
                <p class="card-text">"Secretary General of Organisation Internationale de la Francophonie"blhsfbhihfdionowvnpinvdnwpinv pwdo[jude[v[o qeo[ po[j[ov jdq[oj[oj[o veq[o[obveq[ojj[o jj [ojo[ j[oeq"</p>
            </div>
        </div>
        <div class="card mb-3">
          <img class="card-img-top rounded-circle p-3" src="https://res.cloudinary.com/numama/image/upload/v1617038321/DISCOSPORT/avatar_saragosse_discop_f5r5uu.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-primary">Mrs. Marie-christine <span class="text-uppercase">Saragosse</span></h5>
              <h6 class="card-text">President and CEO of France Médias Monde</h6>
                <p class="card-text">President and CEO of France Médias MondePresident and CEO of France Médias MondePresident and CEO of France Médias MondePresident and CEO of France Médias MondePresident and CEO of France Médias Monde</p>
                <a href="#" class="btn btn-outline-primary btn-lg btn-block"> + INFOS ON SPEAKER</a>

            </div>
        </div>
        <div class="card mb-3">
          <img class="card-img-top rounded-circle p-3" src="https://res.cloudinary.com/numama/image/upload/v1617038321/DISCOSPORT/avatar_onajaife_discop_ngjyx9.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-primary">Mrs. Tega <span class="text-uppercase">onojaife</span> </h5>
              <h6 class="card-text">Sports Producer and Founder of the Ladies in Sport Conference</h6>
              <p class="card-text">Full packages visibility to offer the best opportunities to your brand & projects.</p>
            </div>
         </div>

        <div class="card mb-3">
          <img class="card-img-top rounded-circle p-3" src="https://res.cloudinary.com/numama/image/upload/v1617038965/DISCOSPORT/avatar_nedjuru_3_discop_ctqgjc.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-primary">Mrs. Teta <span class="text-uppercase">NDEJURU</span> </h5>
              <h6 class="card-text">Head of Audiovisual at the Rwanda Development Board</h6>
              <p class="card-text">head of audiovisual at the Rwanda Development BoardFull packages visibility to offer the best opportunities to your brand & projects.</p>
            </div>
        </div>
    </div>
</div>
</div>

