<div class="card-deck">

        <div class="card mb-3">
          <img class="card-img-top"
                src="https://res.cloudinary.com/numama/image/upload/v1617131417/DISCOSPORT/new_sport_wyml8r.png" alt="Card image cap">
            <div class="card-body">
             <h2 class="card-title text-primary">NEW <span class="text-uppercase text-danger">SPORTS</span></h2>
                <h6 class="card-text">Secretary General of Organisation Internationale de la Francophonie</h6>
                <a href="#" class="btn btn-outline-primary text-right">+ INFOS</a>
            </div>
        </div>

        <div class="card text-end mb-3" style="width: 18rem;">
            <img class="card-img-top"
                  src="https://res.cloudinary.com/numama/image/upload/v1617131417/DISCOSPORT/new_trends_hjg2du.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title text-primary">NEW <span class="text-uppercase text-danger">CONSUMERS TRENDS</span></h2>
                <h6 class="card-text">Secretary General of Organisation Internationale de la Francophonie</h6>
              <a class="btn btn-outline-primary " href="mailto:joa.azria@gmail.com?subject=Hello">+ INFOS</a>
              </div>
        </div>

        <div class="card mb-3">
          <img class="card-img-top"
                src="https://res.cloudinary.com/numama/image/upload/v1617131417/DISCOSPORT/new_TECH_xak9i2.png" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title text-primary">NEW <span class="text-uppercase text-danger">TECHNOLOGIES</span></h2>
              <h6 class="card-text">Secretary General of Organisation Internationale de la Francophonie</h6>
              <a class="btn btn-outline-primary " href="mailto:joa.azria@gmail.com?subject=Hello">+ INFOS</a>
            </div>
        </div>

        <div class="card mb-3">
            <img class="card-img-top"
                  src="https://res.cloudinary.com/numama/image/upload/v1617131914/DISCOSPORT/new_prod_rkqfrr.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title text-primary">NEW <span class="text-uppercase text-danger">PRODUCTION</span> AND TRANSACTIONAL MODELS</h2>
                <h6 class="card-text">Secretary General of Organisation Internationale de la Francophonie</h6>
                <a class="btn btn-outline-primary " href="mailto:joa.azria@gmail.com?subject=Hello">+ INFOS</a>
              </div>
        </div>
</div>
