<div class="card-deck">

        <div class="card mb-3">
          <img class="card-img-top"
                src="https://res.cloudinary.com/numama/image/upload/v1617131417/DISCOSPORT/new_sport_wyml8r.png" alt="Card image cap">
            <div class="card-body">
             <h2 class="card-title text-primary">NEW <span class="text-uppercase text-danger">SPORTS</span></h2>
              <h6 class="card-text">Secretary General of Organisation Internationale de la Francophonie</h6>
            </div>
        </div>

        <div class="card text-end mb-3" style="width: 18rem;">
            <img class="card-img-top"
                  src="https://res.cloudinary.com/numama/image/upload/v1617131417/DISCOSPORT/new_trends_hjg2du.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title text-primary">NEW <span class="text-uppercase text-danger">CONSUMERS TRENDS</span></h2>
                <h6 class="card-text">Secretary General of Organisation Internationale de la Francophonie</h6>
            </div>
        </div>

        <div class="card mb-3">
          <img class="card-img-top"
                src="https://res.cloudinary.com/numama/image/upload/v1617131417/DISCOSPORT/new_TECH_xak9i2.png" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title text-primary">NEW <span class="text-uppercase text-danger">TECHNOLOGIES</span></h2>
              <h6 class="card-text">Secretary General of Organisation Internationale de la Francophonie</h6>
            </div>
        </div>

        <div class="card mb-3">
            <img class="card-img-top"
                  src="https://res.cloudinary.com/numama/image/upload/v1617131914/DISCOSPORT/new_prod_rkqfrr.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title text-primary mb-0">NEW <span class="text-uppercase text-danger">PRODUCTION</span> </h2>
                <h4 class="card-title text-primary mt-0">AND TRANSACTIONAL MODELS</h4>
                <h6 class="card-text">Secretary General of Organisation Internationale de la Francophonie</h6>
              </div>
        </div>
</div>
<button class="btn btn-outline-primary btn-lg btn-block text-uppercase" data-toggle="modal" data-target="#bootcampprogram">+ INFOS: have an overview on all Bootcamp Program Week </button>

<div class="modal" id="bootcampprogram">
  <div class="modal-dialog modal-dialog-center modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><span class="text-danger">BOOTCAMP</span> <span class="text-primary">PROGRAM OVERVIEW</span></h3>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3 text-center">
           <img src="https://res.cloudinary.com/numama/image/upload/v1617196770/DISCOSPORT/icon_keynote_discop_c4gpts.png" />

          </div>
          <div class="col-9">
            <h4 class="text-primary">KEYNOTE SESSIONS</h4>
              <p>1. Africa is the next frontier of sports television.</p>
              <p>2. Close-up on Rwanda’s Basketball Federation (FERWABA).</p>
              <p>3. What is the current policy of acquiring international, regional and local sports rights.</p>
              <p>4. How to determine the value of African sports competitions on the global marketplace.</p>
              <p>5. What advertisers want?</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3 text-center">
           <img src="https://res.cloudinary.com/numama/image/upload/v1617196770/DISCOSPORT/icon_5G_discop_littfn.png" />

          </div>
          <div class="col-9">
            <h4 class="text-primary">‘5G’ PRESENTATIONS</h4>
              <p>1. Sports television and 5G: the odd couple.</p>
              <p>2. How 5G can help increase e-sports’ massive momentum.</p>
              <p>3. Finding the money in 5G sports broadcasting.</p>
              <p>4. Running a successful sports federation in a 5G world.</p>
              <p>5. Innovating the 5G stadium experience.</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3 text-center">
           <img src="https://res.cloudinary.com/numama/image/upload/v1617196770/DISCOSPORT/icon_usa_discop_kixien.png" />

          </div>
          <div class="col-9">
            <h4 class="text-primary">‘MADE IN USA’ TALKS</h4>
              <p>1. The fast-growing world of athlete-founded media and commerce companies.</p>
              <p>2. Selling sports competition highlights as digital tokens on the blockchain.</p>
              <p>3. Is betting the future of sports entertainment?</p>
              <p>4. Licensing a sports brand to access the lucrative fan market.</p>
              <p>5. How to sell air-time and sponsorships to sports minded brands and marketers.</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3 text-center">
           <img src="https://res.cloudinary.com/numama/image/upload/v1617196770/DISCOSPORT/icon_case_discop_jnc1z1.png" />

          </div>
          <div class="col-9">
            <h4 class="text-primary">CASE STUDIES</h4>
              <p>1. Challenges faced by broadcasters as they attempt to capture live gaming competitions.</p>
              <p>2. With 200+ million people and 185 million mobile subscribers, Nigeria boasts a sports betting sector with enormous and untapped opportunities.</p>
              <p>3. Why are short formats so growingly popular ?</p>
              <p>4. Running a professional football club in Cameroon, the Rainbow Football Club, where one third of the 26 million Cameroonians speak English and the others speak French.</p>
              <p>5. What is the most robust legal framework to protect sports television rights?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
      </div>

    </div>
  </div>
</div>
