
    <div class="row">

      <div class="col-md-5 d-flex flex-column justify-content-around">
        <div class="card-program d-flex flex-row justify-content-between mt-2">
          <div class="card-program-infos">
            <h2 class="text-uppercase">Invitation to the <span class="text-danger">Virtual Ceremony</span></h2>
<!--             <p>Product description with <strong>relevant info</strong> only.</p>
 -->      </div>
           <img class="border border-danger" src="https://res.cloudinary.com/numama/image/upload/v1617031330/DISCOSPORT/virtual_ceremony_xvqpua.png" />
        </div>

      <div class="card-program d-flex flex-row justify-content-between my-2">
        <div class="card-program-infos">
          <h2 class="text-uppercase"> <span class="text-danger">ACCESS TO MOBILE </span> / LAPTOP BASED <span class="text-danger">NETWORKING APP</span> DURING THE 4-WEEK PROGRAM</h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->  </div>
          <img class="border border-danger" src="https://res.cloudinary.com/numama/image/upload/v1617031307/DISCOSPORT/mobile_discop_u3vzyi.png" />
      </div>

        <div class="card-program d-flex flex-row justify-content-between my-2">
            <div class="card-program-infos">
              <h2 class="text-uppercase">Networking opportunities during the <span class="text-danger">Sales Focused Weeks</span></h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
             <img class="border border-danger" src="https://res.cloudinary.com/numama/image/upload/v1617031326/DISCOSPORT/hands_check_discop_q0l5dq.png" />
        </div>

        <div class="card-program d-flex flex-row justify-content-between my-2">
            <div class="card-program-infos">
              <h2 class="text-uppercase">Access to the <span class="text-danger">Bootcamp Week</span> </h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
             <img class="border border-danger" src="https://res.cloudinary.com/numama/image/upload/v1617031310/DISCOSPORT/bootcamp_discop_nsgvby.png" />
        </div>

        <div class="card-program d-flex flex-row justify-content-between my-2">
            <div class="card-program-infos">
              <h2 class="text-uppercase">Access to the <span class="text-danger">Pitching Competition</span></h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
             <img class="border border-danger" src="https://res.cloudinary.com/numama/image/upload/v1617031316/DISCOSPORT/compet_discop_xdm7we.png" />
        </div>

        <div class="card-program d-flex flex-row justify-content-between my-2">
            <div class="card-program-infos">
              <h2 class="text-uppercase">DIGITAL copy of the <span class="text-danger">DISCOSPORT 2021 Almanac</span></h2>
  <!--             <p>Product description with <strong>relevant info</strong> only.</p>
   -->      </div>
             <img class="border border-danger" src="https://res.cloudinary.com/numama/image/upload/v1617031321/DISCOSPORT/almanac_discop_z19r3v.png" />
        </div>

      </div>
      <div class="col-md-7">
        <img class="img-fluid" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1617032045/DISCOSPORT/visual_large_square_discop_vckzq9.png" />
      </div>
    </div>

