 <div id="image" class="banner" style="background-image: linear-gradient(rgba(0,53,135,0.4),rgba(0,53,135,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1617461550/DISCOSPORT/banner4_saxr3p.png);">
          <div class="container p-3">
            <div class="container">
              <h4 class="text-white">The New Frontiers of Sports Television Business</h4>
              <h6 class="text-danger">THE FAST-GROWING MARKETPLACE OF SUBSAHARAN AFRICA</h6>
              <h6 class="text-white"> LIVE FROM LOS ANGELES & KIGALI </h6>


           <% if user_signed_in? %>
                  <p  class="">  25 OCT. - 19 NOV. 2021  <span class="text-success font-weight-bold"> YOU ARE INVITED  </span></p>

                    <a class="btn btn-lg btn-outline-success" href="mailto:contact@discosport.tv?subject=Hello">CONTACT US</a>
                      <% else %>
                        <p  class="">  25 OCT. - 19 NOV. 2021  <span class="text-danger font-weight-bold"> BY INVITATION ONLY</span></p>
                        <%= link_to "SIGN UP NOW", new_user_registration_path, class: " btn btn-lg btn-outline-danger" %>

              <% end %>
            </div>
          </div>
    </div>

  <hr>
<div class="container">
  <div class="row">
    <div class="col-md-4">
              <div class="card mb-3">
            <img class="card-img-top rounded-circle p-3" src="https://res.cloudinary.com/numama/image/upload/v1617099920/DISCOSPORT/6SVXwjcB_400x400_veyx4v.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-primary">Patrick<span class="text-uppercase">Zuchowicki</span></h5>
                  <h6 class="card-text">President / General Manager</h6>
                  <div class="row mt-3">
                    <div class="col-12">
                      <a href="mailto:patrickzuchowicki@basiclead.com?subject=DiscoSport">
                        <h6><i class="far fa-envelope text-primary"></i> patrickzuchowicki@basiclead.com</h6>

                      </a>
                      </div>

                      <div class="col-12">
                        <h6 class="text-left"><i class="fab fa-whatsapp"></i> +1 (310) 980-6872</h6>

                      </div>
                  </div>
            <img class="card-img-bottom p-3" src="https://res.cloudinary.com/numama/image/upload/v1617099999/DISCOSPORT/image-asset_fwqjkm.png" alt="Card image cap">
              </div>
          </div>

    </div>
    <div class="col-md-8 mt-3">
<!--       <h3 class="text-secondary">Basic Lead connects & grows your projects since 1991</h3>
      <hr> -->
      <p class="text-justify">“As sports TV rights are expected to significantly
        increase in the foreseeable future, Africa is about to fully exploit the
        economic potential of sports television. With TV rights are expected to
        significantly increase in the foreseeable future, new trends such as the
        growing popularity of eSports, the rise of mobile and online platforms,
        the advent of 5G, increased demand for sports apparel and increased
        participation of women in sport, opportunities abound in Africa's sports ecosphere.</p>

  <p class="text-justify">This is why we are launching
      <span class="text-primary font-weight-bold">DISCOSPORT AFRICA</span>
      to take place from <span class="text-primary font-weight-bold">24 to 26 May 2022 in Kigali, Rwanda.</span>  As a
      lead-in to the 3-day market in 2022, we are planning a virtual preview event
      to take place from Monday 25 October to Friday 19 November 2021.
      Our ambition is to build momentum amongst key sports industry executives
      with an eye on sub-saharan Africa and deliver next year a dynamic,
      interactive and productive in-person event."</p>
     <p class="text-right">Patrick</p>

    </div>

<section class="mt-5 container">

      <!-- <h2 class="text-primary text-uppercase text-center"> References</h2> -->
      <hr>
    <div class="row partnerslogos">
      <div class="col-2 mt-2">
        <img class="img-fluid " alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107585/DISCOSPORT/apoiadores/sabc_hjc4xj.png" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107585/DISCOSPORT/apoiadores/sbs_nehj8p.png" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107584/DISCOSPORT/apoiadores/globo_f1igj0.png" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid max-width: 140px;" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1620056635/DISCOSPORT/apoiadores/LOGO_CO_BLEU_sfvfl4.jpg" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107582/DISCOSPORT/apoiadores/VIACOM-LOGO_fldgsj.png" />
      </div>
      <div class="col-2 mt-3">
      <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1620056629/DISCOSPORT/apoiadores/LOGO-studio-1_xlar5s.png" />

      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107584/DISCOSPORT/apoiadores/unnamed_nrlznx.jpg" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107584/DISCOSPORT/apoiadores/dc5fee0189b193c8ebf8e19076ad56f0_arjy8t.png" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107583/DISCOSPORT/apoiadores/400px-Orange_logo.svg_s7m6xk.png" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107583/DISCOSPORT/apoiadores/mnet_yjguag.png" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107584/DISCOSPORT/apoiadores/Record_TV_Africa_p74oya.png" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107583/DISCOSPORT/apoiadores/iroko_zon3uu.png" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107583/DISCOSPORT/apoiadores/logo-bouquet-chaines-canal-300x200_lqoisa.jpg" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107583/DISCOSPORT/apoiadores/rtv_logo_xit9tu.png" />
      </div>
      <div class="col-2 mt-3">
        <img class="img-fluid" alt="Responsive image"
        src="https://res.cloudinary.com/numama/image/upload/v1617107582/DISCOSPORT/apoiadores/TV5__logo_.svg_s4ls8w.png" />
      </div>
      <div class="col-2 mt-3">
      </div>
    </div>

</section>
  </div>
