    <div class="dashboard__actions">
      <%#= render "shared/newsletter_dashboard" %>
      <%#= render "shared/dashboard_delegates_counter" %>
      <%= render "shared/search_bar" %>
    </div>


   <div class="dashboard__validation-container ">
      <%= render 'shared/delegate_card_approved' %>
    </div>

