<%= render "shared/banner" %>

<div class="container">
  <br><br><br><br>
  <h1 class="text-primary mt-3">Fulfillment Terms and Conditions</h1>
<h3 class="text-danger">Your online purchase is subject to the following terms and conditions described below:
</h3>
<br>
<p class="text-justify">
By purchasing concierge services/event services/promotions/market badges online, you agree to pay the fees associated with the online purchase.</p>
<br>
<p class="text-justify">
If you are not satisfied with your purchase within 30 days of the purchase date for any reason, you may cancel your booking for a 50% refund or a 100% credit on other services/event services/ promotional/market badges offered by Basic Lead.</p>
<br>
<p class="text-justify">
To cancel your purchase, you must send an email to ADMIN SERVICE / DISCOSPORT <a href="mailto:contact@discosport.tv">contact@discosport.tv</a>  with a reason explaining your decision.</p>
<br>
<p class="text-justify">
After receiving your email, we will then issue the refund within 30 days or provide you with a credit note.</p>
<br>
<p class="text-justify">
Basic Lead is not responsible for and will not have any liability regarding services provided by third party payment service provider.</p>
<br>
<p class="text-justify">
If you have any questions regarding our fulfillment terms and conditions TEL + 1 (323) 594 80 10 / MAIL <a href="mailto:info@discop.com">info@discop.com</a></p>
<br>
</div>

