<div class="container">
    <hr class="mt-3">
          <%= render "shared/kcc" %>

      <hr class="mt-2">
    <h1 class="text-primary">AN <span class="text-danger">"ALL IN"</span>  EVENT DESIGNED TO DELIVER RESULTS </h1>
      <%= render "shared/reasons" %>
    <hr class="mt-3">



<!--         <h1 class="text-primary">
      MEET YOUR <span class="text-danger"> AMBASSADORS</span>
    </h1>
      <%#= link_to "ACCESS TO ALL DELEGATES LIST", delegates_path, class: " btn btn-lg btn-outline-primary text-right m-3" %>

      <%#= render "shared/staff" %>
 -->

 <div class="container">

  <h5 class="text-primary">RWANDA AS A HOST COUNTRY</h5>
  <p class="text-justify">Hosting DISCOSPORT in Rwanda is a timely choice. Rwanda is a country known for its
breathtaking scenery, often referred to as the land of a thousand hills. Its capital Kigali has
been ranked the second most <span class="font-weight-bold">popular destination in Africa for hosting international
conferences and events</span> . Rwanda’s popularity streams from its simplified visa process that
allows nationals of every country in the world to get a visa on arrival in addition to its easy
accessibility, due to the multitude of flight options offering connectivity to Kigali and the rest of
Africa through the national carrier <span class="font-weight-bold">Rwandair</span>.</p>
<br>
<p class="text-justify">
  Most importantly, <span class="font-weight-bold">Rwanda is fast becoming Africa’s leading destination for international sports
events</span> . After recently staging world-class competitions and tournaments, Rwanda is a rolemodel
for other countries ready to host international tournaments and looking for more than
the temporary glow of national prestige, from part-time jobs to permanent roles for players,
coaches, technical and managerial staff and opportunities for local companies.
</p>
<br>
<p class="text-justify">
Rwanda is also well positioned to become <span class="font-weight-bold">a strategic manufacturing and distribution hub</span> .
Preferential access to several international marketplaces, and special economic zones and
industrial parks, are increasing the domestic and foreign supply of goods produced in Rwanda.
Furthermore, with online sales booming, <span class="font-weight-bold">Rwanda is launching a global B2B and B2C ecommerce
platform </span> that will help marketers expand their business across Africa and beyond.
</p>
<hr>
 <h5 class="text-primary">THE UNITED STATES OF AMERICA AS GUEST COUNTRY</h5>
  <p class="text-justify">The USA will be DISCOSPORT’s Guest Country, honoring the country’s recognition of the
African sports sector to date following the <span class="font-weight-bold">National Basketball Association</span>  (NBA)’s first
investment in NBA-branded league, <span class="font-weight-bold"> NBA Africa</span>, outside of North America.</p>
<br>
<p class="text-justify">
  With former President Barack Obama as a strategic minority investor, NBA Africa conducts
the league’s business in Africa, including the <span class="font-weight-bold">Basketball Africa League</span>  which held its
inaugural season earlier this year featuring 12 of the top club teams from 12 African countries.
</p>
<br>
<p class="text-justify">
  The Guest Country initiative will include:
</p>
<p class="text-justify">
  ➤ A Virtual Ceremony honoring the NBA Africa;
</p>
<p class="text-justify">
  ➤ A dedicated American Pavilion hosting US advertisers, sponsors and marketers with
an eye on Africa;
</p>
<p class="text-justify">
  ➤ A series of webinars on successful and innovative sports marketing strategies ‘Made
in USA’.
</p>
</div>
<hr class="mt-3">
        <h1 class="text-primary mt-3">SUBMIT YOUR REGISTRATION NOW </h1>
        <h5 class="text-danger">QUALIFIED PARTICIPANTS ONLY</h5>
        <%= render "shared/register" %>
        <br>
        <a href="<%= new_user_registration_path %>"
          class="btn btn-danger text-uppercase btn-lg btn-block ">
        CLICK HERE TO REGISTER</a>
        <hr>





</div>
