<%= render "shared/banner" %>

<div class="container">
  <br><br><br><br>
  <h1 class="text-primary mt-3">PRIVACY POLICY AND DATA PROCESSING DISCOSPORT</h1>
<h3 class="text-danger">DISCOSPORT RESPECTS YOUR PRIVACY</h3>
<br>
<p class="text-justify">
This  privacy policy  (“Policy”)  sets  out the basis for processing  any personal  data  we  collect from  you or  that  you provide to  us. Please  read  the following carefully to understand our practices regarding your  personal  data.
</p>
<br>
<p class="text-justify">
By  using our website www.discosport.tv (‘Website’)  and the services  offered on  the Website you are accepting and consenting  to  the practices described in  this  Policy.
</p>
<br>
<p class="text-justify">
This  Policy  may change  from  time  to  time, without notice  being given to  you (unless that  is  required  by  law). All future  versions  of  this  Policy  will  be  posted  on  this  page. You should  check regularly to  ensure  that  you are aware of  any changes that  have  been  made.
</p>
<br>
<p class="text-justify">
By  continuing  to  use our Website you will  be deemed to  have  accepted  such  changes. Depending  on  the purpose for which you are providing your  personal  data, for the purpose of The California Consumer Privacy Act of 2018  (the  “Act”), the data  controller  (or entity  responsible for the data  collected)  will  be  Basic Lead Inc.,  a company registered  in  California, USA  (“Basic Lead”, “we”  or  “us”).

</p>
<br>
<p class="text-justify">
  Data  we  may collect from  you We  collect information from  you when  you register  on  our site  or  fill  out a form, such  as  when  you subscribe to  our email newsletter. You may, however, visit our site  anonymously without such  data  being collected – although  cookies may still be  placed  on  your  computer  in  such  circumstances.
</p>
<br>
<p class="text-justify">
These provisions  apply to  information acquired/provided through our Website:
</p>
<p class="text-justify">
  • If  you contact us, we  may keep  a record  of  that  correspondence. If  you send  us  personal  information which identifies  you via email,  we  may keep  your  email and email address.  We  may also  collect information that  is  available from  your  browser.
</p>
<p class="text-justify">
• Details of  your  visits  to  the Websites  including,  but not limited to, traffic data, location  data, weblogs and other communication data, and the resources that  you access.
</p>
<p class="text-justify">
• We  may collect information about your  computer, including where available your  IP  address,  operating system  and browser type, for system  administration.
</p>
<br>
<p class="text-justify">
  This  is  statistical data  about our users’  browsing  actions and patterns, and does  not identify  any individual. How we  use your  data Your data  will  only  be  used  for the purposes indicated  when  you submit  the data  or  as  described below:

</p>
<p class="text-justify">
  • To  comply  with  legal obligations,  such  as: 2 o To  maintain  legal and regulatory  compliance o To ensure  network information and security o To comply  with  or  to  enforce our legal obligations under contract  or  otherwise
</p>
<p class="text-justify">
  • To  comply  with  contractual obligations,  such  as: o to  provide the services  offered by  the Website o to  provide customer  service o to  communicate o to  ensure  quality control
</p>
<p class="text-justify">
• To  facilitate  legitimate  business  interests,  such  as:
</p>
<p>1./ To update  and enhance our records </p>
<p>2./ To  improve our Website</p>
<p>3./ For research  and development purposes  </p>
<p>4./ To send  weekly  newsletters and/or  email updates </p>
<p>5./ To administer  a contest,  promotion,  survey, research  studies and/or  market  research  activity, or  any other site  feature Disclosure  of  your  data.</p>

<br>
<p>The  email address you provide to  us  on  the Website will  be  used  to  send  you our newsletters,  in  addition  to  receiving occasional  company news, updates,  etc.
</p>
<br>
<p>If at  any time  you would like  to  unsubscribe from  receiving future  emails, we  include detailed  unsubscribe instructions  at  the bottom  of  each  email.
</p>
<br>
<p>Except where indicated in  this  Policy  or  as  agreed  by  you on  a form  on  the Website,  we  will  not transfer  any of  your  data  to  any third parties without your  permission.
</p>
<br>
<p>We may disclose  your  personal  information to  third parties without obtaining further consent from  you in  these circumstances:
</p>
<br>
<p class="text-justify">• Where we  outsource any of  our business  functions under which we  collect or  store your  data. In  this  case  we  will  ensure  that  any such  service provider  adheres to  at  least the same  obligations of  security  with  regard  to  your  data  as  undertaken  by  us. </p>
<p class="text-justify"> Where we  sell  or  buy any business  or  assets, in  which case  we  may disclose  your  personal  data  to  the prospective seller  or  buyer of  such  business  or  assets.
</p>
<p class="text-justify"> • If we  are under a duty  to  disclose  or  share your  personal  data  in  order to  comply  with  any legal obligation, or  to  protect our rights, property, or  safety  of  our employees,  our customers,  or  others. This  includes  exchanging  information with  other companies and organisations for the purposes  of  fraud protection  and credit  risk  reduction.
</p>
<br>
<p class="text-justify">We  will  never sell, trade,  or  otherwise transfer  to  outside parties your  personally  identifiable  information for marketing or  promotional purposes.
</p>
<br>
<p class="text-jusitify">

<span class="font-weight-bold">Where we  store your  data </span> : The  data  that  we  collect from  you may be  transferred to, and stored  at, a destination outside the European  Union. It may also  be  processed by staff  operating outside the EEA who work  for us  or  for one of  our suppliers.  Such  staff may be  engaged in, among other things, the fulfillment of  orders, the processing  of payment  details and the provision of  support services. By  submitting  your  personal  data  to  us, you agree to  this  transfer, storing or  processing. We  will  take  all steps reasonably  necessary to  ensure  that  your  data  is  treated securely  and in  accordance  with  this  privacy policy.

</p>
<br>
<p class="text-justify">
  Consent to  International Transfers of  Personal  Data As a global  company,  we  may store and process your  Data  in  our facilities  in  various locations.  This  Policy  applies regardless  of  the location  in  which we  store and process your  Data. We  transfer  Personal  Data  to  service providers that  process data  for the specific  purposes  of  performing identity verification  and other screening,  to  enable  us  to  prevent fraud and to  comply  with  our know-your-customer  obligations under anti-money  laundering  and countering the  financing of  terrorism laws  and regulations.

</p>
<br>
<p class="text-justify">

By  accepting this  Policy, you specifically  and voluntarily consent to  the transfer  of  your  personal  information to  any of  the countries where we  routinely store that  data. Some of these countries might not have  protections in  place for personal  data  as  extensive as  those within  your  country of  residence.  However,  we  require our service providers to treat  your  personal  information in  strict  confidence  and to  use appropriate security  measures  to  protect it. We  also  require them  to  uphold  all of  our other obligations under this  Policy. Your  rights You  have  the right to  ask us  not to  process your  personal  data  for marketing purposes. If  you wish  to  change  your  mailing preferences or  opt-out of specific marketing communications  sent  from  us, you may notify  us  via our contact us  form. It  may take  up  to  21  days  for the changes to  come  into  effect. Please  note  that this will  not alter your  current email subscription  preferences.
</p>
<br>
<p>You  have  the following rights  in  respect of  your  Data, which you may exercise  by  notifying us: </p>
<br>
<p class="text-jusitify">

<span class="font-weight-bold">Access: </span>  The right to  request a copy  of  your  Data  held  by  us.


</p>
<p class="text-jusitify">
<span class="text-font-weight-bold">Correction:  </span>   The right to  request that  any incomplete  or  inaccurate  Data  we  hold  about you is  corrected.
</p>

<p class="text-jusitify">
<span class="font-weight-bold">Erasure: </span>  You have  the right to  ask us  to  delete  or  remove  Personal  Data  in  certain circumstances.
</p>
<p class="text-jusitify">
<span class="font-weight-bold">Restriction: </span> You have  the right to  ask us  to  suspend the processing  of  certain of  your  Personal  Data  about you in  certain circumstances.
</p>

<p class="text-jusitify">
<span class="font-weight-bold">Data Portability: </span> You may obtain  or  request the transfer  of  certain of  your  Personal  Data  to  another party in  certain circumstances.
</p>

<p class="text-jusitify">
<span class="font-weight-bold">Objection:  </span>  If  we  are processing  your  Data  on  the basis of  our legitimate  interests for doing so, you have  the right to  provide specific  reasons why you object  to  such processing.</p>

<p class="text-jusitify">
<span class="font-weight-bold">Automated Decisions: </span> You may contest any automated decision  made  about you where this  has a legal or  similar significant effect  and ask for it  to  be  reconsidered.
</p>

<p class="text-jusitify">
<span class="font-weight-bold">Right  to  Submit  a Complaint:  </span>  If  you believe that  we  have  infringed your  rights, we  encourage you to  contact us  first at  contact@discosport.tv so  that  we  can try to  resolve the issue or  dispute informally. You can also  submit  a complaint about our processing  of  your  Data  to  the relevant  data  protection  authority in  the country where you live  or  work  or  in  the place where the alleged breach  of  the applicable  privacy has taken place. Access to  information The Act gives you the right to  access  information held  about you.  Your  right of  access  can be  exercised in  accordance  with  the Act.  Any access  request may be  subject to  a fee (as amended from  time  to  time) to  meet our  costs in  providing you with  details of  the information we  hold  about you.
</p>

<br>
<p class="text-justify">
  If  you would like  to  request a copy  of  your  personal  data  under the Act or  have  any other related queries,  please email  us  at contact@discosport.tv . We  will  take  reasonable  steps to  create  an  accurate  record  of  any personal  data  you have  submitted.  However,  we  do  not assume  responsibility  for confirming  the ongoing accuracy  of  your  personal  data. You can update  your  personal  data  by  emailing  us  at  info@discop.com.  Please  note  that  it  may take  up  to  21  days  for the changes to  come  into  effect.

</p>
<br>
<p class="text-jusitify">
<span class="font-weight-bold">Cookies :   </span>  The Website uses cookies. By  using the Website,  and agreeing  to this Policy, you consent to  our use of  cookies in  accordance  with  the terms of  this  Policy. Cookies are files sent  by  web servers to  web browsers, that  are stored  by  the web browsers. The information is  then  sent  back  to  the server  each  time  the browser requests  a page from the server. This  enables a web server  to  identify  and track web browsers. There are two main  kinds of  cookies:  session cookies and persistent  cookies.  Session cookies are deleted from  your  computer  when  you close your  browser,  whereas persistent  cookies remain  stored  on  your  computer  until deleted,  or  until they  reach their expiry  date. Basic Lead may  use session and/or  persistent  cookies on  the Website.
</p>
<br>
<p class="text-justify">
  If  you wish  to  disable cookies,  you may do  so  through your  individual  browser options. More detailed  information about cookie  management  with  specific  web browsers  can be found  at  the browsers’ respective  websites.
</p>
<br>
<p class="text-jusitify">
<span class="font-weight-bold">Contact : </span>  Questions, comments, and requests  regarding this  privacy policy  are welcomed. You may contact us  at  contact@discosport.tv
</p>
<br>

</div>


