<div class="container">
  <br>
  <h1 class="text-primary mt-3">PRIVACY POLICY AND DATA PROCESSING DISCOSPORT</h1>
<h3 class="text-danger">DISCOSPORT RESPECTS YOUR PRIVACY</h3>
<h6 class="text-justify text-primary text-uppercase">In compliance with International law, here we gather
what you need to know about our privacy and data processing policy</h6>
<hr>
<h3 class="text-primary">WHAT WE COLLECT AND WHY</h3>
<p class="text-justify">To allow individual access to the DISCOSPORT platform and the acquisition of the PRO-BADGE credential for the DISCOSPORT B2B TRADE SHOW, we need to identify the subscribers / purchasers, so we request that personal and contact details be filled in the indicated forms. This data is also necessary to prevent fraudulent actions, access or improper purchases.
</p>
<br>
<p class="text-justify">DISCOSPORT is a business event, so it is important, in addition to identifying each participant, to know their area of interest and interest, to facilitate networking between the various delegates of the TV / Sport  production chain. Accepting these terms and conditions involved that that you authorize us to disclose your information to other delegates of the platform and on our almanac
</p>
<br>
<p class="text-justify">We do not allow children under the age of 18 to purchase a DISCOSPORT platform subscription or a PRO-BADGE credential.
</p>
<hr>
<h3 class="text-primary">YOUR RIGHTS
</h3>
<p class="text-justify">If you wish, you can request the correction of your data at any time, or its deletion by canceling your access or credential, via email contact@discosport.tvIn case of cancellation or termination of the relationship between the Parties, the total deletion of your data will take place within 90 (ninety) days, unless necessary for legal purposes and processes or to meet the request of an administrative, police or judicial authority, being certain except for the exception provided herein, the parent company shall eliminate, correct, anonymize and/or block access to data that have been transmitted by the acquirer/subscriber during the term of the agreement, definitively or not, at the discretion of the acquirer/subscriber, it is certain that said measures will be extended to eventual copies.
</p>
<hr>
<h3 class="text-primary">WHO WE ARE</h3>
<p class="text-justify">DiscoSport is a brand of Basic Lead LTDA. TheDiscoSport platform subscriptions and the acquisition of PRO-BADGE credentials are operated by the payment platform Stripe. At each edition of the event, DiscoSport also has sponsors and supporters who are duly identified on our website and promotional material.The Digital Networking manager is the controller of the collected data, to which the other parties involved may have access exclusively when necessary for the correct provision of the purchased services, as well as for sending information about DiscoSport, news from the TV sport industry and our newsletter.
BasicLead will not use, or otherwise treat, the personal data that may have been released due to this contract, nor the information derived from said data for the development of any type of advertising and / or other similar commercial purposes. Under no circumstances will the controller be granted rights over the personal data transmitted by the subscriber / acquirer.DiscoSport uses third-party services and technology to maintain and secure its website and the DiscoSport COMMUNITY platform, within operational needs.
</p>
<hr>
<h3 class="text-primary">COOKIES AND TRACKING</h3>
<p class="text-justify">Our website collects cookies and tracks solely for the purposes of access analysis and reporting analytics.
</p>
<hr>
<h3 class="text-primary">CONCLUSION</h3>
<p class="text-justify">We are always improving our website, our content, our Terms of Use and this Privacy and Data Collection Policy. That way, changes may occur, so check our website and this page regularly.
By continuing to access our website and services after consulting our Privacy and Data Processing Policy, you are agreeing to all of its terms.
If you have any questions, please, feel free to contact us using the following email address contact@discosport.tv
</p>

</div>
