<%= render "shared/banner" %>

<div class="container">
  <br><br><br><br>
  <h1 class="text-primary mt-3">TERMS AND CONDITIONS |  DISCOSPORT</h1>
<h3 class="text-danger text-justify">These Terms set out the terms on which companies book virtual and in-person matchmaking, research and promotional services, and badges to attend events, offered by Basic Lead. Please read these Terms carefully as they contain important information.
</h3>
<br>
<h1>
BASIS OF CONTRACT</h1>
<br>
<p class="text-justify">
 • By submitting a concierge service / exhibiting space / advertising space / promotional offer / market badges Booking Form, you agree to be bound by these Terms to the exclusion of all other terms.</p>
<br>
<p class="text-justify">
  • Your Booking Form shall be made on a booking form overleaf completed in full and signed by You or on Your behalf (or in such other written, electronic or oral form as Basic Lead in its discretion accepts) and be submitted to Basic Lead by hand or electronically or by post.
</p>
<br>
<p class="text-justify">
  • Your Booking Form is an offer to Basic Lead to commission a service and/or attend an event and a binding contract between You and Basic Lead will be formed when acceptance is confirmed by Basic Lead to You (whether or not it is received) using the contact details provided in the Booking Form.

</p>
<br>
<p class="text-justify">
  • The person signing the Booking Form on Your behalf shall be deemed to have full authority to do so and You shall have no right to claim against Basic Lead that such person or persons did not have such authority.
</p>
<hr>
<h1>PAYMENTS</h1>
<br>
<p class="text-justify">
  • If applicable, the Deposit shall be payable by You to Basic Lead in full and in cleared funds into Basic Lead's nominated bank account in accordance with the terms on the Booking Form.
</p>
<p class="text-justify">
  • The Fee (less the Deposit if paid previously) shall be payable by You to Basic Lead in accordance with the terms on the Booking Form and in cleared funds into Reed's nominated bank account within (10) days of the date of Basic Lead’s invoice and in any event, no later than the payment due date(s) specified on the Booking Form.
</p>
<p class="text-justify">
  • If payment of the Fee in full is not received in due time, Basic Lead may (at its sole discretion) either require such payment as a condition of Your access to services and/or Your entry to the event, or refuse You access to services and/or entry to the event. No refunds of any proportion of the Fee paid (if any) will be made and any balance of the Fee will remain due and payable where access to services and/or entry to the event is refused.
</p>
<hr>
<h1>SERVICES / EVENT ADMIN</h1>
<br>
<p class="text-justify">
  On receipt of the Fee, and based on Your Booking Form, Basic Lead shall provide You with:
</p>
<br>
<p class="text-justify">
  • Authorized access to the DISCOSPORT networking platform

</p>
<p class="text-justify">
  • Confirmation of the size and location of Your space at the event
</p>
<p class="text-justify">
  • Confirmation of your marketing add-on(s)
</p>
<p class="text-justify">
  • Confirmation of your advertising space(s)
</p>
<p class="text-justify">
  • Confirmation of your sponsorship(s)
</p>
<p class="text-justify">
  • The DISCOSPORT tutorial
</p>
<p class="text-justify">
  • The event(s) survival kit
</p>
<br>
<p class="text-justify">
Time limitations and services provided in the context of year-round concierge services are given in the DISCOSPORT tutorial. You shall be responsible for
</p>
<p class="text-justify">
Event hours and services provided in the context of events are given in the survival kit. You shall be responsible for the appointment of stand contractors to design, erect and dismantle Your stand and shall use the service contractors appointed by Basic Lead to carry out stand installations unless Basic Lead otherwise agrees in writing. No stand or display on any stand will be permitted which in the opinion of Basic Lead obstructs light, impedes access or views along open spaces or gangways or otherwise inconveniences or adversely affects other exhibitors. You and Your employees and any agents or contractors authorized by Basic Lead may enter the event area for purposes of erecting and dismantling the stand and exhibits during the build-up and dismantling periods specified in the survival kit. Basic Lead reserves the right to require You to remove any exhibit if Basic Lead in its absolute discretion considers that it is libelous, obscene, undesirable or detrimental to the event, other exhibitors or the general commercial interests of Basic Lead or any other company from time to time forming part of the same group of companies of which Reed forms part or that it infringes the rights of any third party. All materials used for building, decorating or covering Your stand must be of a non-flammable nature and You must observe and comply with any requirements made or instructions given by any local or other relevant authority. You must notify Basic Lead of the names and titles of any staff attending to occupy the stand at the event at the time of making the Booking.
</p>
<hr>
<h1>REFUNDS</h1>
<br>

<p class="text-justify">  • Basic Lead may (at its sole discretion) revise the nature of its concierge services, suspend an event, change the date and/or venue for the event, or cancel the event, for any reason and if You agree on the revised services and the new dates and venue, these Terms shall continue to apply. If You notify Basic Lead in writing within ten (10) days of receiving notification of the changes that You do not agree on the revised services and the new dates and venue, Basic Lead shall reimburse the Fee to You.
</p>
<p class="text-justify">  • If You wish to cancel a Booking You shall notify Basic Lead in writing prior to the starting date of the concierge service(s) and/or the opening of the event. In the event that Your cancellation notice is received by Basic Lead no later than on two (2) weeks prior to the starting of the concierge service(s) and/or twelve (12) weeks prior to the event You will only be required to pay Basic Lead 50% of the Fee for the cancelled Booking.
</p>
<p class="text-justify">  • In the event that You have paid less than the sums due to Basic Lead for a cancellation You will pay the balance to Basic Lead at the same time as Your Cancellation Notice.
</p>
<p class="text-justify">  • In the event that You have paid in excess of the sums due to Basic Lead for a cancellation, Basic Lead will calculate and pay any refund sum which may be due to You within thirty (30) days of receipt of Your cancellation notice, and thirty (30) days after the end of the event if the cancelation is related to an event.</p>

<hr>
<h1>TERMINATION </h1>
<br>

<p class="text-justify">  • Basic Lead shall have the right to terminate any Booking and/or any agreement between Basic Lead and You to which these Terms apply by notice to You if You fail to make any payment due to Basic Lead by the due dates specified in these Terms; or are in breach of these Terms or You fail to comply with any material obligations or warranties under any agreement between the parties to which these Terms apply and in either case;</p>
<p class="text-justify">  • Termination in accordance to the point above shall be treated as a cancelation by You and You will be required to pay all Fees in accordance to the clause (#4) above.
</p>
<p class="text-justify">  • You shall defend, indemnify and hold Basic Lead harmless from and against all costs, claims, demands, proceedings, liability, losses and expenses (including reasonable legal fees) whatsoever made against or incurred by Basic Lead as a result of, related to or arising in connection with (i) a breach of these Terms by You, and/or (ii) any acts or defaults of You or Your employees and/or (iii) any claim brought against Basic Lead that the Content supplied by You infringes, violates, or trespasses or constitutes the unauthorized use or misappropriation of any intellectual property of any third party.</p>

<hr>
<h1>EXCLUSION OF LIABILITY AND INSURANCE </h1>
<br>

<p class="text-justify">  • To the fullest extent permitted by the applicable law, Basic Lead excludes: (a) all liability for loss, injury or damage to persons or property at the event; (b) all indemnities, warranties, representations, terms and conditions (whether express or implied); and (c) any actual or alleged indirect loss or consequential loss howsoever arising suffered by You, or any loss of profits, anticipated profits, savings, loss of business revenue, loss of business, loss of opportunity, loss of goodwill, or any other type of economic loss (whether direct or indirect). If Basic Lead is liable to You for any reason, Basic Lead's total liability under these Terms or otherwise in relation to the event is limited to the amount of the Fee received by Basic Lead.
</p>
  <p class="text-justify">  • You shall have at Your own cost insurance cover concerning insurance of exhibits, postponement or abandonment, and failure to vacate, as well as full public liability and employee liability insurance against personal injury, death and damage to or loss of property for a limit of indemnity of no less that $50,000 or its equivalent, and Basic Lead shall be entitled to inspect such insurance policies upon request.
</p>
<p class="text-justify">  • Nothing in these Terms shall exclude or restrict either party's liability for death or personal injury resulting from the negligence of that party or its employees while acting in the course of their employment.
</p>

<hr>
<h1>GENERAL </h1>
<br>

<p class="text-justify">  • Neither party shall be liable to the other in respect of any non-performance of its obligations by reason of any act of God, civil war or strife, act of foreign enemy, invasion, war, satellite failure, legal enactment, governmental order or regulation, industrial action, trade dispute, lock-out, riot or any other cause beyond their respective control provided always that in any such event the duration of the agreement between the parties shall be extended over which such event continues.</p>
  <p class="text-justify">  • You may not assign or transfer any rights or obligations under these Terms to any third party without Basic Lead's prior written consent.</p>
<p class="text-justify">  • These Terms together with any other document incorporating these Terms shall constitute the entire agreement and understanding between the parties in relation to its subject matter.
</p>
<p class="text-justify">  • You understand and acknowledge that to the extent the data submitted by You in connection with a Booking amounts to personal information, such personal information will be processed in accordance with the requirements of applicable data protection laws and our privacy policy. </p>
  <p class="text-justify">  • These Terms and any agreement to which these Terms apply shall be governed by California law and shall be subject to the exclusive jurisdiction of Californian Courts, without regard to conflict of laws rules.</p>
<p class="text-justify">  • For any dispute under this Agreement, any claim (including, but not limited to any claim for injunctive or monetary relief) will be brought only in Californian Courts, and neither You nor Basic Lead will object to the exercise of personal jurisdiction by such court.</p>
<br><br>
</div>

