<p><%= @user.first_name %> <%= @user.last_name %> (<%= @user.email %>) has registered to join Disco Sport!</p>
<p>An admin can approve this registration by visiting the website and editing the user</p>