<p> Hi <%= @user.first_name %>,</p>



<p>Thank you for submitting your request to take part in DISCOSPORT 100% Virtual. </p>
<p>Please allow 24 to 48 hours to process your request and we will then get back to you and confirm your registration</p>


<p>The DISCOSPORT registration team</p>
<p>contact@discosport.tv</p>
<p>T + 1 (323) 594 8010</p>


