<p> Hi <%= @user.first_name %>,</p>

<p>Thank you for signing up for DISCOSPORT 100% Virtual | Sub-Saharan Africa to be held from Monday 25 October to Friday 19 November.</p>

<p>You are all set!</p>

<p>You can follow us through our LinkedIn page. As we get a little closer to the event itself, we will be sending you more organizational details.</p>
<p>You will also receive the weekly DISCOSPORT AFRICA newsletter due out on Tuesday 4 May 2021 and hear about the latest trends and tactics for sports television business in Sub-Saharan Africa.</p>


<p>Thank you again for your registration. If you have any questions, please let me know.</p>


<p>Regards,</p>


<p>The DISCOSPORT registration team
</p>

<p>contact@discosport.tv</p>
<p>T + 1 (323) 594 8010</p>
