<p> Hi <%= @user.first_name %>,</p>

<p>Thank you for interest in DISCOSPORT.</p>

<p>We didn't find your contact in our DISCOP/BasicLead database</p>
<p>Please if you are a qualified TV - Sport delegate, contact us contact@discosport.tv to upload your profile in our master DataBase </p>

<p>Thank you again for your interest in DISCOSPORT|AFRICA.</p>


<p>Regards,</p>


<p>The DISCOSPORT registration team</p>

<p>contact@discosport.tv</p>
<p>T + 1 (323) 594 8010</p>
