<p> Hi <%= @user.first_name %>,</p>

<p>Thank you for signing up for the inaugural edition of  <span style="font-weight:bold">DISCOSPORT </span> to take place in-person from Tuesday 24 to Thursday 26 April 2022 at the Kigali Convention Center in Rwanda.</p>

<p>You are all set!</p>

<p>Leading up to DISCOSPORT, a 4-week Introductory Forum will be held remotely seven months prior to the event (25 October / 19 November) to set the tone for the event, boost engagement and help registered delegates network early on.</p>
<p> As we get closer to the 3-day market itself, planning details will be forwarded to your attention.</p>
<p>You can also expect to also receive our weekly newsletter !</p>
<p>Let us know if we can of further assistance.</p>


<p>Thanks</p>

<p><span style="font-weight:bold">The DISCOSPORT welcome team</span></p>
<p><a href="mailto:contact@discosport.tv?subject=DiscoSport">contact@discosport.tv</a></p>

<p>T + 1 (323) 594 8010</p>
