<p> Hi <%= @user.first_name %>,</p>

<p>Thank you for signing up for the inaugural edition of  <span style="font-weight:bold">DISCOSPORT </span> to take place in-person from 24 to 26 May 2022 at the Kigali Convention Center in Rwanda.</p>

<p>You are all set!</p>
<p>DISCOSPORT, will deliver results in the form of high-level connections before and during the 3-day market. To break the ice, set the tone, and boost engagement between pre-registered delegates, we will hold periodical virtual sessions from Monday 25 October 2021, until the opening of DISCOSPORT, seven months later.</p>
<p> As we get closer to the 3-day market itself, planning details will be forwarded to your attention.</p>
<p>You can also expect to also receive our weekly newsletter !</p>
<p>Let us know if we can of further assistance.</p>


<p>Thanks</p>

<p><span style="font-weight:bold">The DISCOSPORT welcome team</span></p>
<p><a href="mailto:contact@discosport.tv?subject=DiscoSport">contact@discosport.tv</a></p>

<p>T + 1 (323) 594 8010</p>
