<p> Hi <%= @user.first_name %>,</p>

<p>Thank you for signing up for <span style="font-weight:bold">DISCOSPORT 100% Virtual | Sub-Saharan Africa</span> to be held from Monday 25 October to Friday 19 November.</p>

<p>You are all set!</p>

<p>You can follow us through  <a href="https://www.linkedin.com/events/discosport100-virtual6780296446915829760/">our LinkedIn page</a></p>
<p>As we get a little closer to the event itself, we will be sending you more organizational details.
To facilitate the planning of meetings, please update  <%= link_to 'your profile', profile_url(@user) %></p>
<p>You will also receive the weekly DISCOSPORT AFRICA newsletter due out on Tuesday 18 May 2021.</p>


<p><span style="font-weight:bold">Thank you again for your registration.</span> If you have any questions, please let us know.</p>


<p>Regards,</p>


<p><span style="font-weight:bold">The DISCOSPORT registration team</span></p>
<p><a href="mailto:contact@discosport.tv?subject=DiscoSport">contact@discosport.tv</a></p>

<p>T + 1 (323) 594 8010</p>


