<p> Hi <%= @user.first_name %>,</p>
<p>
  <%= @user.status == 'Approved' ? 'You just got Approved!' : 'You status changed to Pending' %>
</p>
<p>The DISCOSPORT registration team</p>
<p>registration@discosport.tv</p>
<p>T + 1 (323) 594 8010</p>