<%#= render 'devise/shared/banner_log_in' %>

<hr>

<div class="container mt-5">
  <%= simple_form_for @identity do |f| %>
    <div class="form-inputs">

      <h5 class="text-primary text-uppercase mt-5">Present Yourself, why are you participating to DISCOP</h5>
      <p class="text-danger">To help us plan well-prepared and well-researched meetings, tell us about your reasons for attending DISCOSPORT.</p>
      <%= f.input :release,
                      as: :text,
                      label: 'Presentation',
                      placeholder: 'To help us plan well-prepared and well-researched meetings, tell us about your reasons for attending DISCOSPORT 100% Virtual | Sub-Saharan Africa.' %>
    </div>
    <p><%= f.submit "SEND", class: "btn btn-success btn-block text-uppercase" %></p>
  <% end %>
</div>

