.footer {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 2ch;
  justify-content: space-evenly;

  width: 100%;
  padding: 1rem;
  margin-top: auto;

  background: $main-bg;
  color: $text-1;
  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2ch;
    width: 100%;
  }
  &__logo {
    object-fit: contain;
    width: 120px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2ch;

    width: max-content;
  }
  &__social {
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      color: $text-1;
    }
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    gap: 0 1ch;
    place-items: center;

    width: clamp(300px, 80%, 520px);

    list-style: none;
    padding: 0;
    margin: 0;
    a {
      color: $text-1;
      white-space: nowrap;
    }
  }
  &__subtext {
    display: grid;
    place-items: center;
    flex: 1 1 100%;
    &-developed {
      a {
        color: $text-1;
      }
    }
  }
}
