.navbar-discosport {
  justify-content: space-between;

  background: #003587;
  position: sticky;
}


.navbar-discosport .navbar-collapse {
  flex-grow: 0;
}


.navbar-discosport .navbar-brand img {
  width: 180px;
}
