.search-bar {
  display: grid;
  place-items: center start;
  
  width: 100%;
  padding: 20px 15px;
  background: $menu-bg;
  &__title {
    color: hsl(0deg, 0%, 10%);
    font-size: 2rem;
    font-weight: 700;
  }
  &__form {
    display: flex;
    align-items: center;
    width: clamp(190px, 100%, 560px);
    margin-top: 1ch;
  }
  &__group {
    align-items: center;
    display: flex;
    width: 100%;
  }
}