.separator {
  --width: 60px;
  --color: #{$text-1};
  --thickness: 1px;

  flex-basis: 100%;
  min-height: var(--thickness);
  max-width: var(--width);
  width: 100%;

  margin: 1ch 0;

  border: none;
  background-color: var(--color);
}
